[2018-04-23 01:24] jdpigeon opened #2 "Issues running on Linux"
This issue will host advanced instructions, common issues, and discussion related to setting up and running EEG notebooks on Linux computers.

## Common Issues

1. `pygatt.exceptions.BLEError: Unexpected error when scanning: Set scan parameters failed: Operation not permitted` (Linux)
 - This is an issue with pygatt requiring root privileges to run a scan. Make sure you have `libcap` installed (`s

[2018-04-23 02:30] JohnGriffiths commented on #4
A dumb solution I found to this issue when it is persistent is to restart windows, which often helps ( in lieu of a verified actual solution )

[2018-04-27 18:57] jdpigeon opened #5 "Create alphabet based test stimuli for oddball"
@kevardian had a great idea:

Use english characters for non-target stimuli and chinese characters for target

[2018-05-03 18:43] jdpigeon commented on #6
One subject noted that the N170 stimulus presentation induced blurriness and double vision after a while

[2018-05-04 21:51] jdpigeon commented on #6
Signal quality is really important to getting good data. Ideally, the standard deviation of all electrodes should be below 10 before the experiment starts and quality of the electrodes should be re-checked between each trial (especially important for the extra electrode, which can shift during an experiment)

[2018-05-27 18:46] jdpigeon opened #8 "Images not loading in psychopy on Windows"
Psychopy loads and the entire screen fills with the grey background, but none of the images in N170, P300, etc. are displayed

[2018-06-02 22:16] jdpigeon commented on #10
Makes total sense. Can we just standardize everything to the Unix time stamp no regionalization or anything?

[2018-06-02 22:34] JohnGriffiths commented on #10
well ideally bluemuse should be updated to use the same timestamps as
psychopy

in the meantime as a fix would be useful to have some kind of conversion
function.

in order to do this will need to know the units used. which I'm really not
sure of.

Do you recognize the units in the two sets of outputs I listed?

On 2 June 2018 at 18:16, Dano Morrison <notifications@github.com> wrote:

--

Dr. John

[2018-06-04 12:36] JohnGriffiths commented on #10
Fix for this is on my muse-lsl fork.

https://github.com/JohnGriffiths/muse-lsl/commit/28d9c798636317ac90c0b01067f3cea2a968fe71

It optionally converts UTC timestamps (as used by bluemuse) to match the  `pylsl.local_clock()` units used in the psychopy markers stream.

Also updated run_experiment.py to allow it to be activated with a command line flag.

Usage is now as follows:

`python scripts\run

[2018-06-11 20:52] jdpigeon commented on #10
I talked to Alexandre about this. He thinks what we've done (switching to UTC) makes perfect sense and will work fine.

However, he pointed out one thing, which is that if we move away from `local_clock` we will miss out on LSL's time correction feature that you can see explaine here: https://github.com/sccn/labstreaminglayer/wiki/TimeSynchronization.wiki#synchronization-process-offset-correction

[2018-06-12 00:49] kowalej commented on #10
There are multiple APIs which can generate submillisecond timestamps in .NET, in fact these APIs may use the exact same system level API that the LSL Boost "local_clock" taps into.

[2018-07-22 22:48] jdpigeon commented on #9
I believe this was resolved: https://github.com/alexandrebarachant/muse-lsl/issues/45

[2018-07-22 22:50] jdpigeon commented on #10
I believe this was fixed in the latest BlueMuse version: https://github.com/kowalej/BlueMuse/commit/25f06e0abb9662f0c6968d9f30544e592b365aa2

[2018-10-03 13:42] jdpigeon opened #13 "Cannot open input file 'hdf5.lib'"
Issue encountered on Windows using a new Python 3 Miniconda install.

Installing HDF5 tools didn't solve issue (and required a bullshit account registration).

Switching to Python 2 has allowed us to bypass issue

[2018-11-03 17:31] kylemath commented on #3
Working through a jupyter notebook for P300 in Python==3.6 ,
Everything working, connects to muse, Streaming...
and then immediately Disconnects.
Any ideas?

[2018-11-03 19:49] jdpigeon commented on #3
That's an issue we've encountered a lot before, stemming from the failure of pygatt on OSX to start receiving data once a BLE connection has been opened. Unfortunately, I don't have a solution, but @amandakeasson is the world expert on getting muse-lsl working on Mac.

@amandakeasson, do you know anything that might help?

[2018-11-03 20:46] amandakeasson commented on #3
Hi! Yes, I made a Jupyter notebook that explains how to get muse-lsl working on Macs. It can be found here: https://github.com/amandakeasson/eeg-notebooks/blob/master/notebooks/mac_notebook.ipynb.

I'll also make a pull request to add it to NeurotechX eeg-notebooks.

[2018-11-03 21:48] kylemath commented on #3
thanks Amanda,
can you describe in more detail what the differences are, have you changed the muselsl code in some way?

[2018-11-03 21:51] kylemath commented on #3
I know about the version differences and why you are using the different conda environment to run the experiment and data viz, but I am getting stuck on the previous step, the connecting, have you changed that code?

[2018-11-03 22:01] amandakeasson commented on #3
That code has not been changed. A lot of the Mac issues just had to do with certain versions of different packages not working on Macs, and I had to change the process for starting the recordings for the experiment and EEG simultaneously.

If you follow the instructions here https://github.com/amandakeasson/eeg-notebooks/blob/master/mac_instructions_general.docx then hopefully everything will work

[2018-11-04 17:35] amandakeasson commented on #3
great to hear!

[2018-11-05 18:16] jdpigeon commented on #12
Just learned about the MNE-BIDS tools, which should make it even easier for us to convert the notebooks datasets to BIDS format

https://github.com/mne-tools/mne-bids

[2018-11-19 02:16] amandakeasson commented on #3
Hi @kylemath, looks great!

[2019-01-15 14:05] JohnGriffiths commented on #16
Hi Ralf.

Thanks for taking this up. Movie-based paradigms would be a fantastic addition to eeg-notebooks.

I don't have any magic-bullet answers for you at this point, but happy to help and brainstorm potential solutions.

It sounds like you understand the core code and have done all the right things so far. So you probably know this already, but for reference: generally speaking for developing n

[2019-01-16 04:54] rschmaelzle commented on #16
i've been able to get it done. the code is not yet pretty, but since I cannot finesse it right now, I am posting it anyway. I'll try to fix it properly and then add it (though since I am working on a mac, that might change things). anyway, if sb is interested ...

this went into the presentation function -

`def present(duration = 20):

     # Create markers stream outlet
     info = StreamInfo('M

[2019-01-16 13:41] JohnGriffiths commented on #16
Awesome work!

Seems you have this in hand.

When you are comfortable with the code go ahead and submit a pull request from your eeg-notebooks fork.

That will be the easiest way for others to test + work together on this.

Hopefully this functionality will be available to eeg-notebooks users soon.

Just out of interest: what is the scientific  context you are working from here? How are you planni

[2019-01-16 15:34] rschmaelzle commented on #16
@JohnGriffiths thanks, will do!
as for the scientific context: my background is in EEG/ERP, but I moved more towards more natural, continuous stimuli (mostly media messages - movies, stories). I did a lot of work on inter-subject correlation analysis with fMRI, and also a bit on auditory entrainment with EEG.  Please shoot me an email if you want to talk more - I'd be happy to discuss potential ov

[2019-01-27 23:57] royyannick commented on #1
What version of Python, Psychopy and Windows?

[2019-01-28 15:20] JohnGriffiths commented on #1
This was on windows 10 w/python 2.7

However the machine I was doing this on has now died. Getting a new one soon.

Will take another look then.

Have you been able to get auditory stim working ok on windows?

[2019-05-20 19:11] nvitucci commented on #17
For completeness, when `recording.start()` is called before `stimulus.start()`, the output is as follows:

[code]

[2019-05-21 21:58] nvitucci commented on #17
I just found another interesting behaviour. If I skip the notebook part where the viewer is started (Step 2), and then I run the experiment launching `recording.start()` before `stimulus.start()`, both the EEG stream and the Markers stream are successfully recorded. It doesn't appear to be a problem if, instead, I launch the four processes manually from the command line in this sequence:

1. `muse

[2019-05-22 16:52] Sabrinanalai commented on #3
I am very new to python, and I currently having the same issue @kylemath had before, it was connected to muse and streaming... but soon got disconnected. When I tried @amandakeasson 's fork, the code failed at
![image](https://user-images.githubusercontent.com/50921389/58191879-0dfb1780-7cf2-11e9-9e26-b29214f8d4ac.png)
it says that

 " Failed building wheel for scikit-learn"

 then it went on and

[2019-05-25 00:04] jdpigeon commented on #3
That's a rather frustrating but solveable dependency mismatch issue.

First, I'd love to see if the regular eeg notebooks installation process works for you based on muse LSL updates we've made at this point.

If that doesn't work, try removing the muselsl version requirement (`@==1.01`)

[2019-06-03 00:53] JohnGriffiths commented on #20
Hi Akatav.

Thanks a lot for your interest.

Indeed you are correct - there are not currently any ML group classification / prediction examples in eeg-notebooks.

If you would like to contribute data and analysis code for such an example, that would be superb.

For more info and worked examples of these approaches in a neuroimaging context, I would recommend you check out the *nilearn* and *mne-py

[2019-06-03 04:45] akatav commented on #20
@JohnGriffiths  oh ok, sure, i'll try. thank you v much for your kind reply.

[2020-02-28 19:46] wdkaye commented on #3
I recommend editing requirements_mac.txt and upgrading Pygatt.  (I'm upgraded from 3.2.0 to 4.0.5 and I am able to stream successfully)

I followed the instructions, installed the packages via conda, ran the notebook mac-notebook.ipynb, but kept failing at step 1 with error messages like `NotConnectedError: No BGAPI compatible device detected`

After poking around a little bit I was able to determ

[2020-04-03 19:52] kylemath commented on #23
requirements_mac.txt is specific for mac

[2020-04-06 02:27] ElliotMebane opened #26 "Muse Auxiliary Electrode source"
Here's a place to buy Muse auxiliary gold-cup electrodes to use with this project. You may like to include the link below in your docs where you describe the cable you used in your experiments. Avoid the time and hassle of making a cable yourself!
https://docs.google.com/document/d/1CGsimrSyLjyH7mXBcm0LEOw83m-nEqd6ImoSHwTtoJM

[2020-04-20 02:36] JohnGriffiths commented on #26
Thanks for the info Elliot, that's really cool.

I'll add this info to the docs.

Are you making recordings with these?

[2020-04-20 03:10] JohnGriffiths opened #30 "REB for data collection projects"

[2020-04-20 03:13] JohnGriffiths opened #31 "Integrate mac- and non-mac instructions"

[2020-04-20 03:13] JohnGriffiths opened #32 "Update instructions and docs"

[2020-04-27 18:53] ElliotMebane commented on #26
I originally made them as part of a NeuroTechX workshop: NeuroTechLA | Hands-on Muse / BCI Workshop.  We used Muse-LSL and did some first steps in a Machine Learning app that was able to distinguish between 2 different brainwave patterns. One of the pictures in the Google Doc I linked-to shows the electrode in use as a 5th channel in Muse-LSL. Workshop file link is below, and also linked-to in my

[2020-07-24 18:18] #26 closed

[2020-07-24 18:21] #2 closed

[2020-07-24 18:22] JohnGriffiths commented on #1
This now seems to be working ok. c.f. the auditory evoked response notebooks in examples and sandbox folders.

[2020-07-24 18:23] JohnGriffiths commented on #13
Python 3 miniconda seems to be working fine now according to several users.

[2020-07-24 18:23] #13 closed

[2020-07-24 18:24] JohnGriffiths commented on #8
Now working.

[2020-07-24 18:24] #8 closed

[2020-07-30 23:41] JohnGriffiths commented on #35
It works ok for me.

I get

`Flickering frequencies (Hz): [24.0, 16.0]`

But in general I think it would be preferable to specify the flicker frequencies more explicitly (eg adding input arguments for desired frequencies), if poss.

This could be opportunity to do so.

[2020-07-31 01:53] JadinTredup commented on #35
I just tried it on windows and it worked fine for me so it seems to be a problem in Linux. I tried hard-coding the flickering frequencies and it was still having timing issues so it appears to be a psychopy/linux problem. I will try to troubleshoot in their documentation.

[2020-08-22 05:58] kylemath opened #1 "Readme doesn't mention conda in installation"
The readme currently doesn't mention the conda install in installation section, but mentions it later in troubleshooting,
2) it also mentions pip install ., but doesn't say which requirements.txt file to use
3) I think we want readme to describe install within a virtual environment like:

"To install dependencies within a virtual environment move into directory you cloned and run:

.. code-block::

[2020-08-22 06:00] kylemath commented on #2
@JohnGriffiths

[2020-08-22 06:04] kylemath opened #3 "requirements-docs.txt missing version"
got this error
[code]

[2020-08-22 06:07] kylemath opened #4 "make html on mac throws error"
still working on debug, but to keep track of bugs here is one, as @JohnGriffiths suspected, may not work on mac natively:

(venv) Kyles-MacBook-Pro:doc kylemathewson$ make html
/bin/sh: sphinx-build: command not found
make: *** [html] Error 127

[2020-08-23 20:49] JohnGriffiths commented on #4
Thanks for the info.

Open to suggestions re: doc build support on mac. Haven't looked into it.

Currently things work for linux, and indirectly for windows visa WSL (which is how I've been doing it so far).

---

Looking at the error you have: it sounds like it's read the `Makefile` correctly but is stumbling on `sphinx` .

Do you definitely have the `sphinx` etc python libraries installed in tha

[2020-08-23 21:03] JohnGriffiths commented on #1
Thanks.

Installation instructions - particularly cross-platform consistent ones - including the `requirements.txt` and OS-contingencies - is a major priority for ironing out.
( cc @mhough @JadinTredup  )

The main intended place for the installation instructions is actually in the documentation pages

https://neurotechx.github.io/eeg-notebooks/getting_started/installation.html#

The info in the `

[2020-08-23 22:10] basty72 opened #6 "select port prompt"
Hi,

IMO, this is a minor bug.
I am following the available instructions (github/sphynx, or outdated gdoc) and when I come to the serial port declaration, i.e.
[code]
the latest instruction still prompts a textual instruction for the user to insert the port name again. However, the port name entry is not required and if enter is pressed the code executes correctly.
Just aesthetics, but it'd be gre

[2020-08-25 04:08] kylemath commented on #4
ok I figured it out, I hadn't install any packages because of https://github.com/NeuroTechX/eeg-notebooks/issues/3, so I removed that dependency from the .txt and installed, now this runs,

[2020-08-25 04:08] #4 closed, assigned to nobody

[2020-08-25 04:20] kylemath opened #7 "error downloading cueing data during doc build"
Traceback (most recent call last):
  File "/Users/kylemathewson/eeg-notebooks/venv/lib/python3.7/site-packages/sphinx_gallery/gen_gallery.py", line 159, in call_memory
    return 0., func()
  File "/Users/kylemathewson/eeg-notebooks/venv/lib/python3.7/site-packages/sphinx_gallery/gen_rst.py", line 466, in __call__
    exec(self.code, self.fake_main.__dict__)
  File "/Users/kylemathewson/eeg-notebo

[2020-08-25 04:23] kylemath commented on #8
hit issue https://github.com/NeuroTechX/eeg-notebooks/issues/7 figures not loading in build docs

[2020-08-25 04:34] kylemath opened #9 "cueing notebook prose updates"
There's a set of sphinx-gallery examples for the four notebooks that you contributed

https://neurotechx.github.io/eeg-notebooks/experiments/cueing.html

which are slightly modified, but largely unchanged from your original notebooks.

What we could do with is a go-over of those four pages

https://neurotechx.github.io/eeg-notebooks/auto_examples/visual_cueing/01r__cueing_singlesub_analysis.html#

[2020-08-25 04:35] kylemath commented on #8
addresses issue https://github.com/NeuroTechX/eeg-notebooks/issues/9

[2020-08-25 04:35] kylemath commented on #9
working on this in https://github.com/NeuroTechX/eeg-notebooks/pull/8

[2020-08-25 11:46] JohnGriffiths commented on #7
Let's try to debug this dataset fetcher thing outside of the doc build.

1. Retry on command line

[code]

2. Is the dataset fetcher working ok for the other datasets?

[2020-08-26 23:03] JadinTredup commented on #1
@JohnGriffiths can I just go ahead and remove the installation instructions on the readme and link to the ones on the DOC page? it seems counter-intuitive to have two separate sets of conflicting instructions.

[2020-08-26 23:07] JadinTredup commented on #6
Can you please link me to the documentation you are talking about?

[2020-08-26 23:13] basty72 commented on #6
sure, pick one:
https://github.com/NeuroTechX/eeg-notebooks

https://neurotechx.github.io/eeg-notebooks/index.html

https://eeg-notebooks.readthedocs.io/en/latest/

https://docs.google.com/document/d/1OHLxsMksb401yjqpwZY2c2YEBA-yn_TGiBASkZ05H3k/edit#heading=h.rxm8dlmqjphd

[2020-08-26 23:18] JadinTredup commented on #6
The last two of those are dated and should not be being referenced and in the first two I do not see the three lines you mentioned above?

[2020-08-26 23:22] JadinTredup commented on #9
Is this okay to close with the PR merge?

[2020-08-26 23:22] JadinTredup commented on #7
Is this okay to close with the PR merge?

[2020-08-26 23:40] basty72 commented on #6
please see the command line prompt at line 79 of get_openbci_usb():
https://github.com/NeuroTechX/eeg-notebooks/blob/611fa8ca0cadf31b060ffef4a7171831c9c4c06b/eegnb/devices/utils.py#L73

which, for my board (cyton), is called at line 135 of EEG.py
https://github.com/NeuroTechX/eeg-notebooks/blob/master/eegnb/devices/eeg.py

The prompt asks the user to manually insert the usb port name IF serial_por

[2020-08-26 23:42] kylemath commented on #9
Still working on it

[2020-08-26 23:43] kylemath commented on #8
This was still in progress as indicated by the title

[2020-08-26 23:43] JadinTredup opened #10 "Issues pertaining to Brainflow API"
From speaking with Andrey in the OpenBrainTalk slack channel he brought up a few things that I wanted to post here for my own reference and for the sake of documentation. I will try to knock these out gradually:

1. Latest version of Brainflow support auto discovery of Wifi shield IP address. Can integrate this when I return to troubleshooting the Wifi shield.

2. hardcoding the COM port for windo

[2020-08-26 23:46] JadinTredup commented on #8
Sorry my bad, still getting used to working with git beyond simple commit/pushes. Do you want me to go ahead and revert it?

[2020-08-26 23:58] JadinTredup commented on #8
Just reverted it, sorry about that.

[2020-08-27 00:01] kylemath commented on #8
no sweat once im done Ill request a review

[2020-08-27 02:23] JohnGriffiths commented on #3
Fixed https://github.com/NeuroTechX/eeg-notebooks/commit/e44cd06ef4e88fa7546f63afe9aef4aafa5c0d9e

[2020-08-27 02:24] #3 closed, assigned to nobody

[2020-08-27 02:35] JohnGriffiths commented on #6
The message is redundant because the board specific serial port definitions such as for `cyton` [here](https://github.com/NeuroTechX/eeg-notebooks/blob/611fa8ca0cadf31b060ffef4a7171831c9c4c06b/eegnb/devices/eeg.py#L135), which in your case asks for a port specification if OS is `"Darwin"`, is overwritten slightly later [here](https://github.com/NeuroTechX/eeg-notebooks/blob/611fa8ca0cadf31b060ffef

[2020-08-27 02:42] JohnGriffiths commented on #6
Added a fix - https://github.com/NeuroTechX/eeg-notebooks/commit/06fc10ad869b4b23492e82547aed789a990e897c

@basty72  Has the redundant prompt stopped now?

[2020-08-27 03:48] JohnGriffiths commented on #7
I'm also getting this error now - seems the new dataset fetcher is not working with the `cueing` experiment dataset. Probably because of the zip file size.

[2020-08-27 05:37] JohnGriffiths commented on #7
Changed the dataset fetcher to use the `gdown` package, - https://github.com/NeuroTechX/eeg-notebooks/commit/f11fa0c86aead8122225295846d6f141cd707f22

this seems to have no problem with large file downloads. It's also about 1% the number of lines :)
...but an additional dependency :(

@kylemath - try the dataset fetcher commands above now.

[2020-08-27 05:53] kylemath commented on #9
cd doc
<make your changes>
make html

cd _build/html
python -m http.server 8002

in web browser:
local:8002

[2020-08-27 06:31] JadinTredup commented on #7
Thats interesting, I tried it earlier and it worked fine.

[2020-08-27 06:34] kylemath commented on #7
one liner above didn't run, must need to import some things first, so I tried to remake the html docs

I pulled your change from upstream repo, merged into my branch, pip install gdown, I also added gdown to the requirements-docs.txt, then try to make the htmls and get:

Traceback (most recent call last):
  File "/Users/kylemathewson/eeg-notebooks/venv/lib/python3.7/site-packages/sphinx_gallery/ge

[2020-08-27 07:09] JohnGriffiths commented on #7
So what do you get on the command line with just

[code]
[code]

?

[2020-08-27 07:11] JohnGriffiths commented on #9
yep.

[2020-08-27 07:11] kylemath commented on #7
import gdown works when I :

cd eeg-notebooks
source venv/bin/activate
python

On Thu, Aug 27, 2020 at 1:09 AM John Griffiths <notifications@github.com>
wrote:

--
*Kyle E. Mathewson, Ph.D.*
Assistant Professor - Department of Psychology, Faculty of Science
Director - Attention Perception and Performance Lab
Affiliate - Neuroscience and Mental Health Institute, Faculty of Medicine
and Dentistry
Un

[2020-08-27 07:14] JohnGriffiths commented on #7
So was it looking for a different python installation when you were building before?

Does this work now?
[code]

[2020-08-27 07:18] kylemath commented on #7
yeah it works, but that is what produces the error in the html that gdown
was not available

On Thu, Aug 27, 2020 at 1:14 AM John Griffiths <notifications@github.com>
wrote:

--
*Kyle E. Mathewson, Ph.D.*
Assistant Professor - Department of Psychology, Faculty of Science
Director - Attention Perception and Performance Lab
Affiliate - Neuroscience and Mental Health Institute, Faculty of Medicine
an

[2020-08-27 07:22] JohnGriffiths commented on #7
Must be trying to use a different python installation then, if the import isn't working.

[2020-08-28 01:59] JohnGriffiths commented on #1
Sure go for it.

[2020-08-29 17:52] JohnGriffiths opened #12 "finalize requirements.txt and pip install"
The top priority remaining from the version 0.2 refactor is a clear, fully tested, and fully documented installation process.

The focus point for this is the [requirements.txt](https://github.com/NeuroTechX/eeg-notebooks/blob/master/requirements.txt).

---

Side note: the developer installation method should be

`pip install -e . `

from the repo top level folder.

This command calls the `setup.p

[2020-08-29 17:53] JohnGriffiths commented on #12
@mhough and @JadinTredup - would be great if you two could take the lead on this, as you are (I believe) the ones with access to all OS types.

[2020-09-01 21:49] JadinTredup commented on #1
Hey @JohnGriffiths I already chenged the installation instructions last week. Do you want to keep the gettijng started/troubleshooting portions of the README up as well or should they be removed?

[2020-09-02 00:56] JohnGriffiths commented on #1
Nah they should be either moved into the main docs or removed

[2020-09-03 17:21] JadinTredup commented on #12
@JohnGriffiths I will try on Windows and Linux but I do not have a MacOS.

[2020-09-03 17:47] JadinTredup commented on #1
@JohnGriffiths check out the new README and docs page and let me know if this works for you.

[2020-09-06 08:26] JadinTredup commented on #12
Just wanted to update this for the sake of documenting it: the current working set of requirements for both Windows and Linux (with version numbers) is in "requirements_test.txt" once it is confirmed to work on Mac as well we can move it to the main requirements file.

[2020-09-06 08:26] JadinTredup commented on #10
All of these issues have been resolved with my most recent pushes. Closing this one now.

[2020-09-06 08:26] #10 closed, assigned to JadinTredup

[2020-09-06 08:27] JadinTredup commented on #6
@JohnGriffiths I am pretty certain we can mark this as closed now?

[2020-09-06 08:28] JadinTredup commented on #1
Going to close this one as well since everything has been moved over to the main documentation page where needing Conda is mentioned.

[2020-09-06 08:28] #1 closed, assigned to JadinTredup

[2020-09-08 13:39] basty72 commented on #6
closed for me

[2020-09-10 16:57] jartuso commented on #12
I'm installing on Windows in a new Anaconda environment ((conda 4.8.4) using:

`pip install -r requirements.txt`

I get the following error during the installation:

`ERROR: psychopy 2020.2.4.post1 has requirement pyglet>=1.3, but you'll have pyglet 1.2.0 which is incompatible.`

but the installation continues after that error it looks like psychopy ends up getting installed successfully:

`Runnin

[2020-09-10 20:59] jartuso commented on #12
Following up -- I had issues running N170 experiment after installing using requirements.txt

The N170 session would start, but would only display a blank gray screen. None of the faces or houses would show up.
I uninstalled pyglet 1.2.0 (pip uninstall pyglet) and then re-installed using pip install pyglet
Pyglet 1.5.7 was installed. Then the N170 experiment ran normally.

I made a new environment

[2020-09-10 21:03] JadinTredup commented on #12
@jartuso sorry I should have mentioned somewhere that we should be trying out "requirements_test.txt" as the current list of requirements. I will move them over to the main requirements file.

[2020-09-10 21:14] JadinTredup commented on #12
Do we have anyone who has verified if these requirements work on Mac yet?

[2020-09-11 00:03] m9h commented on #12
I can confirm a clean pip install on Mac OS X 10.14.6 with a fresh miniconda 3.8 using requirement_test.tx. On Mac OS X, conda install python and pip or it will use the /usr/bin/python following current directions.

Runs n170 experiment successfully with port set to /dev/cu.usbserial-DB00M80D

raw = load_data(save_fn) still doesn't work with positional argument errors. Will follow up.

Tested on b

[2020-09-11 03:10] #6 closed, assigned to basty72

[2020-09-11 03:55] #12 closed, assigned to JohnGriffiths

[2020-09-11 03:58] JohnGriffiths commented on #9
@kylemath any progress on this?

[2020-09-11 04:12] kylemath commented on #9
hmm, no sorry, where was I, I have added to the main page, but need to edit each of the individual ones, and I couldn't get the docs to compile
also one of the four may be redundant,

I think they are 1) single subject analysis 2) group analysis 3) group analysis behaviour 4) group analysis compare two semesters (this one is probably the most expendable)

[2020-09-11 17:53] JadinTredup opened #14 "Clearing old examples"
We should go through the old examples and delete the ones that reference the old API.

@JohnGriffiths are there any reasons we need to keep any of these examples?

[2020-09-14 16:40] AyrusCode opened #15 "OpenBCI Stream Not Detected on Windows"
I first started the OpenBCI livestream using the GUI via dongle. I then go to eeg-notebooks and run the following cell:
[code]
I am then given a prompt for the USB port for Windows and after entering `COM3` I get the following error:
[code]

[2020-10-02 23:15] JadinTredup commented on #15
Hi @AyrusCode sorry for the late reply, this didn't go to my email for some reason. To answer your question, you should not have the live stream running in the OpenBCI GUI while running EEG notebooks. The point of opening the GUi is just to see what USB port the dongle is being read from; it changes from system to system. Once you know its COM3 then you can close the GUI and run the notebooks.

[2020-10-03 01:46] kushaalrao opened #16 "EEG experiments not working with Muse2 via EEG Notebooks on Mac"
I have created a virtual environment and I am trying to run the SSVEP experiment via EEG notebooks. On my command line, I execute the command "python run_notebook.py" and choose the appropriate device and configurations. It connects to the Muse and the stimulus presentation appears, but it doesn't seem to record and store any of the data and I also get an error at the end "Value error: need at lea

[2020-10-04 14:36] JohnGriffiths commented on #16
Hi Kushal.

One possibility here is that the experiment setup processes are taking longer than 10s to start, and so the record process is timing out before any data is saved.

Could you repeat with, say, 30s for the duration option. Same error?

[2020-10-04 14:36] JohnGriffiths commented on #16
Also, do you get the same error for all 3 experiment options?

[2020-10-04 14:40] JohnGriffiths commented on #9
Are the compilation errors due to .rst errors?

The syntax for defining text/code sections with sphinx can be a bit fiddly.

Suggest either a) start back with the original code and add changes incrementally and check it doesn't break along the way, and/or b) send a description of the changes you would like to make and we can get implemented and working

[2020-10-04 14:41] JohnGriffiths commented on #14
No, they can go. Or, better, be updated.

The place for scratch / temp / possibly to be removed things is the sandbox folder.

[2020-10-05 03:53] kylemath commented on #9
things are looking pretty good on the master now, what more do you want
prose for, the individual 3 modules?

On Sun, Oct 4, 2020 at 8:40 AM John Griffiths <notifications@github.com>
wrote:

--
*Kyle E. Mathewson, Ph.D.*
Associate Professor - Department of Psychology, Faculty of Science
Director - Attention Perception and Performance Lab
Affiliate - Neuroscience and Mental Health Institute, Facult

[2020-10-05 18:51] JadinTredup commented on #16
Interestingly enough I am getting the exact opposite error now. The data is recording but no stimulus is shown when using the Muse2.

[2020-10-05 19:52] JadinTredup commented on #16
@kushaalrao I just pushed a fix that remedied my errors. Could you update and rerun and see if you errors still persist? If so, I can begin to figure out what is wrong there.

[2020-10-12 06:29] znnnnn1 opened #17 "The SSVEP data collected on openbci can not detect the peak value of 20Hz"
Does the ssevp data collected by openbci and muse have the same effect

[2020-10-16 01:31] JadinTredup commented on #17
@znnnnn1 it does in theory but depending on your setup, the OpenBCI device might have a noisier signal. Can you share the results you received?

[2020-10-21 17:22] kushaalrao commented on #16
![Screen Shot 2020-10-21 at 10 19 45 AM](https://user-images.githubusercontent.com/14986642/96755101-1d6b0e00-1387-11eb-82d5-f0c8b1519800.png)
I ran it again with a recording duration of 30 seconds, and it says that it was able to successfully run and record the file. However, I can't seem to access the file. It tells me that permission is denied

[2020-10-26 08:07] ErikBjare opened #19 "Dependency versions are overly strict"
I'm trying to use eegnb as a dependency in my own code (https://github.com/ErikBjare/thesis) to reuse the `EEG` class for device abstraction, but am stumbling into issues with eegnb using old, specific, versions of mne (which I can't use due to other dependencies depending on newer versions).

I'd prefer it if the dependencies were managed/expressed with poetry/`pyproject.toml` (with specific vers

[2020-11-05 14:35] danielemarinazzo opened #20 "issue with installation"
Hi
I am trying to install the library on windows, starting from scratch with miniconda (python 3.9).

I get a series of errors, I paste the first few lines below, I think it might be a version issue.

Any hint?

thanks!

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\ricercasc\Miniconda3\envs\eeg-notebooks\python.exe' 'C:\Users\ricercasc\Miniconda3\envs\eeg-notebooks\lib\si

[2020-11-05 21:20] JohnGriffiths commented on #20
Hi Daniele.

Great to hear from you! Nice to hear you are interested in eeg-notebooks.

The installation was mainlyl tested with python 3.7 and python 3.8 so far.

Could you please try with 3.8?

`conda create -n "eeg-notebooks_py38" python=3.8`

`conda activate eeg-notebooks_py38`

`conda install git`

`git clone https://github.com/neurotechx/eeg-notebooks`

`cd eeg-notebooks`

`pip install -e .`

[2020-11-06 09:00] danielemarinazzo commented on #20
thanks a lot, it worked!!

[2020-11-06 09:00] #20 closed, assigned to nobody

[2020-11-06 11:56] danielemarinazzo opened #21 "pylsl missing library?"
Hi again, another (newbie) issue, with a missing library.
Here the output when running python run_notebooks.py

Traceback (most recent call last):
  File "run_notebooks.py", line 4, in <module>
    from eegnb.devices.eeg import EEG
  File "C:\Users\ricercasc\eeg-notebooks\eegnb\devices\eeg.py", line 18, in <module>
    from muselsl import stream, list_muses, record
  File "C:\Users\ricercasc\Minic

[2020-11-06 12:17] danielemarinazzo commented on #21
sorry forgot
OS:Windows 10 64 bit
device: Muse2, correctly streaming with bluemuse
I also performed the various additional suggested steps (ipykernel etc)

[2020-11-06 16:45] JohnGriffiths commented on #19
Hi Erik.

1. The MNE dependencies could be relaxed by saying version '>=' rather than specific version. Please go ahead and submit a PR with such a change if that fixes your problem and doesn't break anything.

2. Re: dependency management - we are happy to take a look at this, but no guarantees, as we have limited bandwidth for dev activities and poetry is not (yet) standard, so won't necessarily

[2020-11-06 16:54] JohnGriffiths commented on #21
1. Start ipython in terminal

[code]

2.  Is `pylsl` installed?

[code]

3. If so, is `muselsl` working?

[code]

4. If so, is eeg-notebooks EEG class working?

[code]

[2020-11-06 16:59] JohnGriffiths commented on #21
Also, fyi: the  `run_notebooks.py` script will shortly be deprecated, as we have moved its functionality into a (much better) stand-alone command-line interface (CLI).

To use that, run in anaconda terminal (not in python)

[code]

and follow the instructions

[2020-11-08 14:26] ErikBjare commented on #19
Got a bit carried away and did all of it.

I can understand your concern about (2), but `pyproject.toml` (standard as of [PEP 518](https://www.python.org/dev/peps/pep-0518/)) makes it so that poetry is really only needed if you want to update dependency locks. The package can still be installed as usual with `pip install .`. I don't think it will make people's lives harder, but I'm obviously biase

[2020-11-09 01:31] JadinTredup commented on #19
Hi Erik,

I appreciate you taking the initiative. I saw your PR and will give it a test early this week and take a look at it. I agree with Jon's second point but if it doesn't require anything extra to install like you said then it might work out fine. In the mean time, you could always `pip install --upgrade mne` to upgrade the dependencies and I believe eegnb should function properly with the u

[2020-11-09 03:21] ErikBjare commented on #19
My toolchain already attempted something equivalent, but the catch is that since the `setup.py` specified a *specific* version (loaded from `requirements.txt`), Python will notice and complain about the `mne` dependency not meeting the version constraint when importing `eegnb`.

This is why poetry splits dependency versioning into constraints that are put in `pyproject.toml` (that must be respecte

[2020-11-09 03:41] JadinTredup commented on #19
Did you attempt the work around from #1 in Johns comment?

[2020-11-09 11:10] danielemarinazzo commented on #21
Hi,

thanks for your reply!
Unfortunately it did not work, there is this issue when importing pylsl from python

[code]

which could be related to this issue

https://stackoverflow.com/questions/59330863/cant-import-dll-module-in-python

I then tried with python 3.7, with a new environment, and now a slightly different issue popped up

[code]

[2020-11-09 12:20] ErikBjare commented on #19
@JadinTredup Not sure what work around you are referring to. I don't see
one mentioned.

On Mon, 9 Nov 2020, 04:41 JadinTredup, <notifications@github.com> wrote:

[2020-11-09 12:56] JohnGriffiths commented on #21
Arg this is a challenging one.

Ok, next:

Can you create fresh envs for python 3.7,3.8,3.9, and only install pylsl in those. Then activate and `import pylsl`. Does it ever work?

[2020-11-09 13:19] danielemarinazzo commented on #21
I did (including 3.6) and works in all of them :)
and now also the python run_notebooks.py works!

I had previously installed visual studio (following a suggestion on missing dll stuff), so I will never know if it was this step which solved the problem (probably yes), or having installed pylsl first, separately.

anyway, yay!

[2020-11-09 14:09] JohnGriffiths commented on #21
Ok , so you are working now then?

Good to hear
(although a bit confusing)

Next things for you then are

a) view live data with

`muselsl view -v 2`

And

b) try generating some erp data with n170 experiment

( see above comment - `run_notebooks.py` is now replaced by `eegnb runexp -ip` )

For that I recommend run multiple blocks (~15min total) of 2 min recordings. Then load in, following the `ex

[2020-11-09 14:14] danielemarinazzo commented on #21
thanks a lot, I am doing this now (with the new command line interface).

on the other hand I have a kernel error when opening the viz/analysis notebook (gonna open a separate issue)

[2020-11-09 14:14] #21 closed, assigned to nobody

[2020-11-09 14:24] danielemarinazzo opened #23 "kernel error - again dll"
Hi

I am trying to run the SSVEP_load_and_visualize.ipynb notebook, and I get a kernel error (python 3.8, Windows 10), see below.

I tried the same on Ubuntu 18 and no error there

[code]

[2020-11-09 18:37] JadinTredup commented on #19
Where he mentions adding ">=" to the requirements.txt file.

[2020-11-10 00:41] JadinTredup commented on #19
@ErikBjare could you pleae share the output of Python complaining about not having the correct version of MNE when you run `pip install --upgrade mne`? I just tried manually upgrading MNE on my install and everything is working fine.

[2020-11-10 08:57] ErikBjare commented on #19
Oh, I thought you meant something mentioned in the issue #1 you linked.

That would obviously work, but it would mean I'd have to depend on a fork, which is what I'm trying to avoid.

---

Now that you updated master it works, but if running:

[code]

Weirdly, I get:

[code]

Probably because the `eegnb.cli` module isn't detected by `find_modules()` in `setup.py`, since the module doesn't contain

[2020-11-17 16:36] JohnGriffiths opened #25 "installation error on windows"
Installation on windows just stopped working for me.

Trying to figure out why.

[code]

[2020-11-18 10:34] ErikBjare commented on #19
Closing, fixed in https://github.com/NeuroTechX/eeg-notebooks/commit/61447c019f5baffab093be9e28dc5ec8a42678be.

[2020-11-18 10:34] #19 closed, assigned to nobody

[2020-11-23 01:50] JohnGriffiths opened #27 "test installation"
We have worked to clarify and streamline the installation process and instructions for `eeg-notebooks` .

However we know there are still some problems that people occasionally encounter.

These may be due to a) lack of clarity in some of the instructions, or b) actual installation errors

We are asking all new contributors to run through the installation instructions [here](https://neurotechx.git

[2020-11-23 01:50] JohnGriffiths opened #28 "run n170 experiment"
After you have have run through the first 'good first issue' and completed [installation](https://github.com/NeuroTechX/eeg-notebooks/issues/27), the next thing to do is to run one of the experiments.

Note, this only applies to users/developers with access to an EEG device.

As with the installation issue, we would like to gather feedback and any errors encountered from this process.

Please foll

[2020-11-25 15:30] JohnGriffiths commented on #7
@kylemath - checking up on this. We have tried to iron out the dependencies in `requirements.txt` a bit more.

please try:

1. fresh git clone, or pull updates

2. create fresh conda or venv

3. pip install

`pip install -e .`

4. build docs as above

`make html`

Are you still getting an error?

[2020-11-25 15:41] JohnGriffiths commented on #9
Apols for delay, coming back to this.

Hopefully the docs compilation is working ok now.

Re: the content -

See the first comment at the top of this thread.

What we would like is to have for each of the 4 cueing examples

https://neurotechx.github.io/eeg-notebooks/auto_examples/visual_cueing/01r__cueing_singlesub_analysis.html

https://neurotechx.github.io/eeg-notebooks/auto_examples/visual_cuei

[2020-11-26 06:00] kylemath commented on #7
[code]

[2020-11-29 19:03] m9h opened #29 "PyWinhook building wheel error"
On Win10 using Anaconda 4.8.4

[code]

Need to use conda to install swig as there is no PyPI compatible package

[code]

Now looking for the required Visual Studio build tools

https://stackoverflow.com/questions/48541801/microsoft-visual-c-14-0-is-required-get-it-with-microsoft-visual-c-build-t

I assume this is because of the Python 3.6 requirement. Installing just the Desktop C++ build tools us

[2020-11-29 20:50] JohnGriffiths commented on #7
Apols.

Ok I've added the doc building dependencies into the `requirements.txt`. That's easier than maintaining multiple installation instructions.

Pls `git pull` master and try `pip install -e .` again.

Note that the env needs to be with Python 3.6.

[2020-11-29 21:13] JohnGriffiths commented on #29
Ok - can you re-try with pywinhook==1.6.1 ?

I found I had to add that last night after adding the docs dependencies into the requirements.txt. Maintaining separate docs and non docs requirements files seems to have been more work than just putting everything in one so far.

I just ran with pywinhook==1.6.1 on windows and was ok.

Also note the installation command is `pip install -e .`

[2020-11-29 21:56] JohnGriffiths commented on #29
maybe we should aim for python 3.7. Miniconda page does actually stay that's the latest stable version

https://docs.conda.io/projects/conda/en/latest/user-guide/install/download.html#anaconda-or-miniconda

[2020-11-29 22:16] JohnGriffiths commented on #29
Tried with a new miniconda install, python 3.7 env, and pywinhook 1.6.1.  Seems to be installing ok.

[2020-11-29 22:43] m9h commented on #29
Yep, I just confirmed that with one of the students that first reported the problem. python=3.7 env and it brings in pywinhook 1.6.0 when installing requirements.txt

[2020-11-30 02:49] JohnGriffiths commented on #29
Sorry not clear: are you saying all is good for python 3.7 at env creation & pywinhook 1.6.1 in requirements.txt

[2020-11-30 02:50] JohnGriffiths commented on #25
working now.

[2020-11-30 02:50] #25 closed, assigned to nobody

[2020-12-02 09:45] ErikBjare commented on #29
Got the same error when setting up the CI pipeline. You can install swig in a similar fashion to how we install it in CI:

https://github.com/NeuroTechX/eeg-notebooks/blob/d55110b763929f4f68885066ba345ed94f69aefc/.github/workflows/test.yml#L24-L29

You probably need to modify the `Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append` part, as that is specific to GitHub CI: https://stackoverf

[2020-12-02 09:46] ErikBjare commented on #31
Looks like everything is green. Merge it @JohnGriffiths!

[2020-12-02 10:26] ErikBjare commented on #30
CI is failing because of this needed fix: #31

[2020-12-02 10:29] ErikBjare commented on #29
I'm working on improving the situation for aw-watcher-afk in this PR: https://github.com/ActivityWatch/aw-watcher-afk/pull/44

If I get it working (which it seems like I will), then I will adapt the changes and make a PR.

[2020-12-02 10:55] ErikBjare commented on #32
Looks like `requirements.txt` doesn't accept user-supplied wheels for dependencies with pypi entries.

Another reason to look into #22 I guess.

[2020-12-02 10:58] ErikBjare commented on #32
Might just have been the fact that wheels for Python 3.6 weren't available, bumping CI Python version to check if that's the case.

[2020-12-02 11:03] ErikBjare commented on #32
CI passed, ready to merge (after #31) :tada:

[2020-12-02 14:41] JadinTredup opened #33 "Notebook for Rimeannian Geometric Classification"
Start notebook on explaining the differences in Riemannian Geometric Classification methods. Topics to include:

- [x] Cell for fetching datasets for each individual task using the `eegnb.datasets.datasets.fetch_dataset`
- [x] Cell for loading datasets using `eegnb.analysis.utils.load_dataset`
- [x] Differences between Minimum Distance to Mean (MDM) and Tangent Space (TS)
- [ ] Process for applyin

[2020-12-02 15:13] HussainAther opened #34 "Machine learning functionality - clustering"
Use signal processing metrics to create machine learning functionality for EEG-Notebooks and compare clustering algorithms. We can use scikit t-SNE optimization techniques (https://scikit-learn.org/stable/modules/manifold.html#optimizing-t-sne), Pyriemann Embedding (https://pyriemann.readthedocs.io/en/latest/auto_examples/ERP/plot_embedding_EEG.html#sphx-glr-auto-examples-erp-plot-embedding-eeg-py

[2020-12-02 18:22] JohnGriffiths opened #35 "update auditory experiments to new device class format"
The two auditory experiments in the repo need updating to the new format with the EEG device class

https://github.com/NeuroTechX/eeg-notebooks/tree/master/eegnb/experiments/auditory_ssaep

https://github.com/NeuroTechX/eeg-notebooks/tree/master/eegnb/experiments/auditory_oddball

[2020-12-02 20:18] JohnGriffiths commented on #14
resuming and executing this now. will also put together a downloader for the compiled notebooks from the website.

[2020-12-02 21:09] JohnGriffiths commented on #30
Sounds like a good idea to me.

[2020-12-02 21:52] JohnGriffiths commented on #14
done.

summary:

- removed .ipynb files in visual n170, visual p300, and visual ssvep folders

- the place for old .ipynbs is the sandbox folder

- however there are still some .ipynbs in the visual cueing folder. I'm not sure we want to remove those yet.

l

[2020-12-02 21:52] #14 closed, assigned to nobody

[2020-12-02 22:21] Elisabeth-github commented on #27
Hello, thank you for your efforts on this interesting project. I encounter the installation issue mentioned in the attached file. Thanks in advance for your help.
[elisabeth_2020-12-02.txt](https://github.com/NeuroTechX/eeg-notebooks/files/5632395/elisabeth_2020-12-02.txt)

[2020-12-02 23:56] retiutut opened #37 "Conda 1st time install conflicts with existing python install"
I tried:

[code]

but encountered errors on the last step, since it tried to use my existing python 2 install on my Mac.

@m9h helped me using a different set of instructions.

[2020-12-03 01:11] retiutut opened #40 "Add option to select OpenBCI usb dongle"
It would be nice to select the cyton serial port, instead of having to type it each time.

Example com ports:
Mac - [DEFAULT]: OpenBCI Port Name = /dev/cu.usbserial-DM00D7TW
Windows - COM4
LINUX - /dev/ttyUSB0

This applies to Ganglion, Cyton, and CytonDaisy Boards.

[2020-12-03 05:58] adaley222 commented on #27
I received what might be a related error to Elisabeth. We both have the error:

`No module named 'numpy.distutils._msvccompiler' in numpy.distutils;`

My problem seems to be a problem with the wheels for pywinhook, scikit-learn, tables, and numexpr.

The pywinhook error reads:

` error: command 'swig.exe' failed: None`

For scikit-learn the error reads:

`error: could not create 'build\bdist.win-a

[2020-12-03 06:10] retiutut commented on #37
I found some instructions that seem similar to what helped me in a currently unused markdown file:

https://github.com/NeuroTechX/eeg-notebooks/blob/master/doc/getting_started/setup_overview.md#2-clone-eeg-notebooks-and-install-dependencies

[2020-12-03 11:55] verakye commented on #27
what Python version are you using?
I also encountered the numpy issue with Python 3.9.  Switching to Python 3.7 solved the problem for me.

For newbs like me:
I changed it like this in the consol's installation process (Link to the installation process description I am refering: https://neurotechx.github.io/eeg-notebooks/getting_started/installation.html):
```conda create -n "eegnb" python=3.7```

[2020-12-03 12:54] adaley222 commented on #27
Ahh, yes I had been using 3.9, but was able to successfully install with 3.7. Apologies, should have mentioned that.

I also tried with 3.8 to see how it went, which solved the issues with numpy/numexpr/scikit-learn, but still ran into the pywinhook error.

[2020-12-03 13:01] JohnGriffiths commented on #27
Thanks for this - @verakye gave the correct answer: need to set python version to 3.7 when creating the conda env.

Have added this to the instructions.

[2020-12-03 13:40] ghost opened #42 "Docs Review - Audience"
I am assuming the “audience” we are writing to includes educators at the High School or University level, in addition to students at these respective levels? How much background with these technologies do we expect our audience to have?

(Some of the pain points I am noting related to code or explication might be specific to my lack of experience, and unnecessary for our particular audience.)

[2020-12-03 14:27] JohnGriffiths commented on #42
It's a good question.

Really to properly address multiple audiences we will need multiple documentation sets, pitched at different levels.

It's probably a bit beyond the scope of the current docs to fully accommodate high school educators (we have actually done high school based projects with this tool; I know what's involved in that...)

But we certainly do motivated people with minimal computa

[2020-12-03 15:19] ErikBjare opened #43 "Merge changes to the device abstraction ("EEG") class from my repo"
My stuff is in: https://github.com/ErikBjare/thesis/blob/master/src/eegwatch/devices/

Includes a bunch of minor changes, including:

 - Added type annotations
 - Support for recording Muse PPG/ACC/GYRO streams

### TODO

 - [ ] start/stop is different for Brainflow vs Muse devices, this should maybe be refactored, but at least be documented.
 - [ ] I've ran the black formatter on all my code, so

[2020-12-03 15:23] ErikBjare commented on #27
#32 fixes the pywinhook-related build issues for Python 3.7-3.8 by using prebuilt wheels.

[2020-12-03 18:41] oreHGA opened #45 "EEG Analysis Utils plotting doesn't support variable channels"
The current `eeng/analysis/utils.py` module has a `plot_conditions()` method that is coded to plot results from only 4 channels.

To support devices with more than 4 channels, the implementation needs to be updated to support varying channel counts.

[2020-12-03 21:57] ErikBjare commented on #37
This is very surprising to me. If you ran `conda activate "eeg-notebooks"` in the same shell as you later ran `pip` then shouldn't that override any system pip install by placing the conda env bin path early in the `$PATH` env var? (that's at least how plain `venv` and similar behave)

Curious how that wasn't the case. What was the difference that fixed it for you?

[2020-12-03 21:59] retiutut commented on #37
@ErikBjare This only happened once, and I would like to try again with a fresh start on a different Mac that already has Python, but not Conda, installed.

I'll report back and close this issue if I am unable to replicate.

[2020-12-03 22:00] retiutut commented on #37
[code]

Specifying the python version when creating conda environment was the crucial step that made it work with no issues.

[2020-12-03 22:03] hubertjb commented on #30
I think using something like black is a good idea overall. We decided against it in braindecode (see https://github.com/braindecode/braindecode/pull/32) to instead use flake8 and rely on the CI to catch formatting problems. But if we don't care whether the code is pep8 compliant then using black is probably a good way to save time! :)

[2020-12-03 22:25] ErikBjare commented on #37
@retiutut Aaah, that makes a lot of sense. Surprised to see conda not pick Python 3 by default.

[2020-12-03 23:49] JohnGriffiths commented on #30
ok, approving if no objections ?

[2020-12-04 03:39] jnaulty commented on #26
I was taking a look at this PR, and tried to do a fresh install of `eeg-notebooks`

Some packages might actually be necessary to run. Notice that the `test` github action does not actually run any tests. `pip install -e .` works fine on my system, but `eegnb runexp` does not.
So, the current PR is 'fine' in it's current form.
The real problem isn't the unnecessary `apt` dependencies, it's the lack

[2020-12-04 03:41] JohnGriffiths commented on #26
dang.

[2020-12-04 04:06] JohnGriffiths commented on #32
Just want to check: do we think the user-supplied wheels is the best option here, or is the pywinhook issue largely solved by moving to python 3.7?

[2020-12-04 04:28] jnaulty commented on #26
installing `wxPython` worked ;)
I had to install `gtk3`: `sudo apt install libgtk-3-dev`
Then reinstalled wxPython: `pip install --no-cache wxPython` (this took about ~15 minutes on my computer to recompile everything with the gtk3 bindings).

[2020-12-04 05:06] retiutut opened #48 "[Docs] Clarify Saved Data Location on Mac"
Currently, this section of the docs exists but is blank. New users might not understand how to view hidden folders, but @JohnGriffiths explained that this is done as part of an existing convention.

Location in Docs: https://neurotechx.github.io/eeg-notebooks/getting_started/loading_and_saving.html?highlight=saving#macos

Full Clarification for location on Mac:
[code]
![Screen Shot 2020-12-03 at 1

[2020-12-04 06:15] retiutut commented on #48
I like the language already in place for the windows file location:

[2020-12-04 06:19] retiutut commented on #48
On Mac, the default directory is found at the location `/Users/*USER_NAME*/.eegnb/`, as seen in the picture below.
[Use Picture Attached to this Issue]

[2020-12-04 08:08] ghost opened #49 "Docs Review - Issues List"
<p><span style="font-weight: 400;">Hi all - please find below my points following a comprehensive docs review. [Please note that if a point does not make sense or is unecessary, it is definitely reflective of a lack of experience or understanding on my part :) Feel free to ignore.] I hope this is helpful&hellip; Please let me know if I can provide any clarification or if it needs to be reformatted

[2020-12-04 08:10] ghost commented on #42
Hi John -

Thanks so much for the feedback. I did my best to provide comments that might strengthen this objective in the docs review - now located on [Issue 49](https://github.com/NeuroTechX/eeg-notebooks/issues/49). Appreciate you!

[2020-12-04 08:10] #42 closed, assigned to nobody

[2020-12-04 10:38] ErikBjare commented on #30
@JohnGriffiths Merge #41 when ready and then I'll reapply the formatting and merge.

[2020-12-04 10:43] ErikBjare commented on #32
@JohnGriffiths From a second look at https://pypi.org/project/pyWinhook/#files it seems like there exists pywinhook wheels on PyPI for Python 3.7 and 3.8 (news to me), but indeed not for 3.9.

Since there are wheels available for 3.9 (here: https://www.lfd.uci.edu/~gohlke/pythonlibs/), we might want to change this PR to only supply prebuilt wheels for Python 3.9 (and maybe for 3.6 since that's not

[2020-12-04 11:37] ErikBjare opened #50 "Support newer Python versions"
There seems to be a lot of issues when installing on other Python versions than 3.7, since I have a pretty extensive history of battling issues like these I thought I might give it a shot (especially now that we have a CI pipeline).

Documenting known issues here:

 - [x] Installing pywinhook on Windows on Python 3.9 requires extra build deps (swig, VS C++ tools) due to no prebuilt wheels being av

[2020-12-04 11:43] ErikBjare commented on #37
@retiutut I made a docs PR #51 that should help avoid similar issues in the future.

[2020-12-04 12:25] ErikBjare commented on #32
Supports Python 3.9 on Linux now, but one remaining issue with tables 3.6.1 on macOS and Windows where wheels are missing and requires HDF5 headers to be available (see #50)

[2020-12-04 12:29] ErikBjare commented on #27
@JohnGriffiths I'm not sure where you updated the instructions, but I made a PR with the same change: #51

I also expanded #32 to also fix issues with Python 3.8 (and 3.9, on Linux at least)

[2020-12-04 12:34] #37 closed, assigned to nobody

[2020-12-04 12:54] ErikBjare commented on #32
Looks like pyriemann broke with the latest scikit-learn, submitted a fix: https://github.com/alexandrebarachant/pyRiemann/pull/93

[2020-12-04 15:06] HussainAther commented on #34
- [x] Show plots for different ML techniques (t-SNE, TangentSpace, Embedding).
- [x] Have presentation ready by 16:00 EST.

[2020-12-04 18:57] #40 closed, assigned to nobody

[2020-12-05 05:23] #45 closed, assigned to nobody

[2020-12-05 13:51] HussainAther commented on #34
Finishing up the `MLapproaches.ipynb` file to turn it into a page of the documentation for the NeurotechX repository.

- [x] Add more background info on what this documentation is meant to be so the reader can understand.
- [x] Get the content finalized and tidied. Rearrange the cells into an organized order and make sure each of them can run on both sets of data.
- [x] Export the file as a `.py`

[2020-12-05 14:11] JohnGriffiths commented on #34
Awesome!

I suggest call the final file

`examples/visual_n170/04r__n170_clustering.py`

[2020-12-05 14:51] HussainAther commented on #34
Thanks! Would you like me to add `pyDiffMap` to the `requirements.txt` file?

[2020-12-06 00:43] jnaulty commented on #26
Closing because #54 is in a state to merge and resolves issues related to building + testing eeg-notebooks on linux

[2020-12-06 08:12] ErikBjare commented on #26
@jnaulty Good call, and nice work on #54!

I cherry-picked 2cc53f7 directly onto master.

[2020-12-14 11:13] danielemarinazzo opened #66 "sounds fades away in ssaep experiments"
Hi

in both ssaep experiments the sounds fades away after a few instances, becoming barely audible.
maybe it's my perception but it's somehow less evident in the two frequencies one (4a), but still very real.

[2020-12-14 12:31] danielemarinazzo opened #68 "error after changing psychopy PTB sound preferences"
So there's this warning

`3.6146  WARNING         We strongly recommend you activate the PTB sound engine in PsychoPy prefs as the preferred audio engine. Its timing is vastly superior. Your prefs are currently set to use ['sounddevice', 'PTB', 'pyo', 'pygame'] (in that order).`

If I do as requested, I then get an error

[code]

[2020-12-15 05:52] akazemian opened #69 "Error:name 'fetch_dataset' is not defined”)"
I was trying to run the N170 experiemnt from https://neurotechx.github.io/eeg-notebooks/experiments/vn170.html but when I run the code block for downloading the data, I get an error saying “name 'fetch_dataset' is not defined”. Which makes me think Im missing a library and I dont know where to find it. I’m on linux and I’ve already installed the requirements and libraries. I would appreciate any t

[2020-12-15 18:56] JadinTredup commented on #69
fetch_dataset is a function within EEG Notebooks. Did you run the import `from eegnb.datasets import fetch_dataset` at the start of the script?

[2020-12-15 18:59] JadinTredup commented on #43
@ErikBjare it appears to me that you have completed this or is there still more work to be done?

[2020-12-15 19:12] #69 closed, assigned to nobody

[2020-12-16 10:14] ErikBjare opened #70 "Implement code vs prose comprehension task"
As part of my [thesis](https://github.com/ErikBjare/thesis) work, I want to replicate (and outperform) a 2019 study (https://ieeexplore.ieee.org/abstract/document/8813259) by @dfucci et al that attempted to classify whether the subject is reading code or prose. Their classifier exhibited very modest performance, no doubt in part due to the limited 1-channel EEG equipment they were using, which I'm

[2020-12-16 14:29] JohnGriffiths commented on #70
Excellent!

Currently the Cueing experiment from Kyle is the most psychopy-sophisticated one in the repo, so I would suggest taking a look at that if you haven't already for more complex designs.

[2020-12-16 15:19] ErikBjare commented on #70
@JohnGriffiths Good to know, thanks! Been digging around and familiarizing myself with the experiment code, but functions that are hundreds of lines are a bit difficult to digest... :slightly_smiling_face:

It led me to create #71 though, which should make it easier to add new experiments.

[2020-12-16 23:31] JadinTredup commented on #17
@znnnnn1 did you still want to discuss this further or can I close the issue?

[2020-12-23 12:56] ErikBjare commented on #43
@JadinTredup Nope, never got around to making a PR.

I've made some pretty major changes, and working on a few more, almost to the point where I'm not sure if it makes sense to upstream it. But if it's of interest I'll consider it: https://github.com/ErikBjare/thesis/tree/master/src/eegwatch/devices

[2020-12-23 14:13] ErikBjare opened #74 "Lots of code duplication/inconsistency for getting the data path"
Running `git grep path.join` yields a swindling 62+ results, here's a sample:

[code]

As you can see, many do the exact same thing (i.e. get a path to the `~/.eegnb/experiment/site/board/subject/session` directory), but do it in various different ways (and sometimes inconsistently!).

Since we have a nice `generate_save_fn` (used in 33+ places) it should probably be better adopted. I'll likely do

[2020-12-23 15:29] ErikBjare opened #76 "Implement ExperimentSpec to reduce redundancy"
A lot of the code/experiments needs access to static information such as:

 - device name
 - experiment name
 - subject id
 - session id
 - data directory
 - record duration

It would probably be a good idea to add a dataclass for this, that'll be easier to pass around without having to repeat the same set of arguments every time.

The idea would be that once you've constructed a ExperimentSpec, y

[2020-12-24 22:35] ErikBjare opened #77 "Add code coverage analysis"
Another improvement to the CI pipeline.

We don't have much in the way of tests, but we do have the auto examples which run a fair bit of the code. It'd be nice to know exactly which code is somewhat tested in CI, and which isn't (and when new code is added, how well covered it is by tests/examples).

This should be easy enough to do with `coverage.py`.

[2020-12-25 07:18] JohnGriffiths commented on #77
Agree- the examples have a very test-like function but that isn't explicitly documented. Coverage tracking would be great to include

[2020-12-25 07:31] JohnGriffiths commented on #68
Thanks. Will look into this. I also looked into this unsystematically when tidying up the auditory experiments, and found different issues with PTB (additional installation requirements, and apparently worse sound quality). This is a different problem, but in any case we should review the PTB option properly, as psychopy does seem to have a major preference for it.

[2020-12-25 07:42] JohnGriffiths commented on #32
I'm OK with merging this.

But shlukd we be e currently waiting for the pyriemann fix PRs to be accepted before doing so?

[2020-12-26 12:35] ErikBjare commented on #32
If so, we'll need to lower the sklearn constraint again, and leave Python 3.9 support for another PR.

I'd suggest we just wait for it to get merged (or if it takes too long, fork pyriemann ourselves and switch to using that).

[2020-12-28 02:10] #17 closed, assigned to nobody

[2021-01-06 09:12] danielemarinazzo opened #78 "startup error"
Hi

after updating my local repository, I am now no longer able to start the CLI. I have a python 3.7 virtual environment on Windows 10.

[code]

[2021-01-06 13:02] JohnGriffiths commented on #78
Hi Daniele.

Sorry about this.

This relates to @JadinTredup's [updating of FreeEEG board support](https://github.com/NeuroTechX/eeg-notebooks/blob/master/eegnb/devices/utils.py#L41)

First: could you check your brainflow version matches that in the requirements?

Second: check whether that is the latest brainflow version?

Third: if it's not the latest brainflow version, update it and re-run `pip

[2021-01-06 14:05] danielemarinazzo commented on #78
Thanks!

I tried to install the required version (which is not the latest one), but got a message of conflict with eeg-notebooks (which if I understood correctly should update automatically, if I installed it with -e.

[code]

If I try to run eegnb runexp anyway I got an error message, requesting the 3.4.3 version

[code]

[2021-01-06 14:24] danielemarinazzo commented on #78
Update, I reinstalled eegnb manually after installing brainflow 3.7.2 and it works

[2021-01-06 14:24] #78 closed, assigned to nobody

[2021-01-13 09:42] danielemarinazzo commented on #66
update, it works now, I installed manually pyo and pygame, and put one of these two as default

PTB still gave an error

`self.stopTime = self._nSamples / float(self.sampleRate) TypeError: float() argument must be a string or a number, not 'NoneType'`

I also changed the output sound from "native sound" or something like that, to another option, with four capital letters.

Why am I not being more

[2021-01-24 18:52] rmib200 commented on #27
Hey! Great effort on this amazing project. I encountered an issue while running the experiments. I tried running the n170 and p300 with a ganglion board but when running the [experiment].present() line of code for presenting the experiment, nothing happens. Except that the screen is frozen, 2 black windows appears and only when I stop the kernel from the jupyter notebook the black windows can be c

[2021-01-24 23:00] oreHGA commented on #27
Hi @rmib200 , out of curiosity, do you have a single display or multiple external monitors connected to your machine?

I think I may have encountered a similar issue when my laptop was connected to 2 external displays. Switching to running on just my laptop (1 display) fixed it for me - (although I used a different BCI headset).

[2021-01-25 00:22] rmib200 commented on #27
@oreHGA I tried with a single display (I use 2, but disconnected the second to do a test) and it was worse because I could no longer stop the kernel. The whole screen was unresponsible. What headset where you using? Besides, I tried eeg notebooks before, around dicember 2020 and it worked fine (with 2 screens, the one in my laptop was showing the stimuli), until I updated my python to 3.9 and had

[2021-01-25 09:10] oreHGA commented on #27
I use the [Neurosity Notion 2](https://neurosity.co/notion). I can try to re-run the experiment locally sometime this week to see if I can reproduce your issue on the on a fresh install with a similar env. setup.

cc’ing @JohnGriffiths (or anyone who can test with a ganglion board) to see if it’s a known issue

[2021-01-25 16:21] rmib200 commented on #27
@oreHGA By the way, I just tried removing the env altogether, reinstalling it and got the same result. I also tried with my muse S, and still blank screen.

[2021-01-25 16:30] rmib200 commented on #27
@oreHGA I think I might have found a way around. I reorganized my screens so the 2nd screen is now the default screen and my laptop is the secondary. I was able to run the experiment with both my devices.
I got this messages:
d:\programdata\anaconda3\envs\eeg-notebooks\lib\site-packages\pyglet\image\codecs\wic.py:289: UserWarning: [WinError -2147417850] No se puede cambiar el modo de subproceso de

[2021-01-25 16:57] JohnGriffiths commented on #27
I'm not sure about behaviour with 2 screens, this is untested as far as I'm aware.

In any case the stim presentation issues you are having should be unrelated to the EEG system.

You can test this behaviour more directly by just calling the stim presentation without an EEG stream

[code]

Regarding screen freezing etc.: psychopy disables pretty much all controls when presenting. It takes over. Hi

[2021-01-25 17:30] akshaysravindran opened #79 "Pre-processing pipeline for low density EEG system"
The attached code proposes one prospective preprocessing pipeline that helps handle artifacts in EEG data collected using the Muse system. The text contains some additional preprocessing steps which  I typically use when working with denser EEG systems but some of these steps are not applicable to Muse. The code will focus on the sections without an asterisk.

 0)  Load the required libraries
 1)

[2021-02-13 01:34] JadinTredup commented on #15
@AyrusCode have you re-tried this/can I mark as closed?

[2021-02-13 01:36] JadinTredup commented on #79
Is there equivalent Python code, or only Matlab?

[2021-02-20 17:37] JohnGriffiths commented on #66
@danielemarinazzo  - try changing the SOA ( = the trial duration ).

Tried this just now.

With SOA <= 1 I get the volume dropoff, and it's worse for e.g. SOA=0.5

At SOA = 2.0 I didn't hear any volume dropoff over 1 min.

---

Also note here: you could set longer SOAs and have fewer, longer trials. That would remove the unfortunate clicks that accompany the stim onset offset (which also needs fix

[2021-02-20 17:44] JohnGriffiths commented on #66
Ok sorry it still fades out for longer runs. So must be to do with the number of repeats.

[2021-02-20 17:53] JohnGriffiths commented on #66
Still, with 30s trials you should have no issues...

[2021-02-20 18:04] JohnGriffiths commented on #66
Ok, have a better fix: move the sound object creation inside the trials loop. No fading with this. Doing PR now.

[2021-02-20 21:41] JohnGriffiths commented on #66
Here https://github.com/NeuroTechX/eeg-notebooks/pull/81

[2021-02-21 16:16] danielemarinazzo commented on #66
thanks a lot! what do you have as psychopy sound preferences? Because for me what resolved the issue was to install pyo and pygame nad change the audio type in psychopy.

btw do you manage to use PTB as primary sound preference?

[2021-02-22 19:02] #15 closed, assigned to nobody

[2021-03-05 18:00] retiutut commented on #48
John suggests maybe just copying this data to the Documents folder.

It's still important for data to be stored in these hidden folders, as this is a standard used by applications.

[2021-03-08 13:39] Div12345 opened #84 "Loading FreeEEG32 recorded data"
Hi,
I ran an ssvep experiment using eeg-notebooks for ssvep and then I loaded it by modifying the ssvep visualisation example slightly. But while loading I seem to be having a problem.
The recording was from a 2 channel (FP1 and FP2) headset with the FreeEEG32 board doing the acquisition.
This was the code -
[code]

But this is the error I get -
[code]

What is the change I must do to get over thi

[2021-03-08 14:01] Div12345 commented on #84
Also, is it possible to choose what channels to record/save/load? Or should I raise this as a separate issue?

[2021-03-08 17:02] JohnGriffiths commented on #84
Hi Divyesh.

This looks solvable.

Could you send me the eeg file you're trying to load and I'll take a look.

@m9h - have you made any recordings with this board yet?

[2021-03-19 14:25] JohnGriffiths commented on #84
@Div12345 - thanks for the PR. We will review shortly and leave feedback there!

[2021-03-19 14:33] JohnGriffiths commented on #79
This is really great and very important going forward for us to establish a more developed preprocessing pipeline.

(Which unfortunately will often need to be somewhat device-specific)

Let's evaluate these new code, and consider alongside other preprocessing options, e.g.

https://github.com/mne-tools/mne-study-template/tree/master/scripts/preprocessing

Thanks!

[2021-03-19 14:38] JadinTredup commented on #76
This can maybe be implemented with a simple configuration files instead of starting a whole new dataclass but perhaps being able to do things like `expspec.run()` might be useful so I will play around with this.

[2021-03-19 14:46] JadinTredup commented on #74
Yeah this is some spaghetti code that resulted from rapid development and not very efficiency minded. I will work on making this more fluid.

[2021-03-19 14:51] JohnGriffiths commented on #50
We'll aim to address newer Python version support with high priority.

However, it is quite tricky to make quick progress on as we need to co-ordinate multiple people with access to different OSs etc.
(as we observed at the Dec brainhack)

[2021-03-19 14:56] oreHGA commented on #49
I'll start to open PRs for the different sections in the comment and link to this issue

[2021-03-19 14:57] JohnGriffiths commented on #48
@retiutut - do you need any help / pointers / discussion in implementing this?

[2021-03-19 14:58] JohnGriffiths commented on #43
@ErikBjare  - what's your thoughts. Do you think these changes should be added or is divergence too great?

[2021-03-19 15:00] JohnGriffiths commented on #35
This has been done for some but not all of the auditory experiments. Will complete soon.

[2021-03-19 15:03] JohnGriffiths commented on #34
@HussainAther  I believe this is now summarized in the PR

https://github.com/NeuroTechX/eeg-notebooks/pull/58

We'll review that and resume comments there :)

[2021-03-19 15:05] JohnGriffiths commented on #33
PR on this here

https://github.com/NeuroTechX/eeg-notebooks/pull/55

We will leave comments in the review there.

[2021-03-19 15:10] JohnGriffiths commented on #50
Related: https://github.com/NeuroTechX/eeg-notebooks/issues/29

[2021-03-19 15:11] JohnGriffiths commented on #29
Question for this: will all pywinhook issues be resolved by moving to newer python versions?

[2021-03-26 09:24] ErikBjare opened #90 "Raise minimum supported Python to 3.7 (at least)"
There are a few things I've been working on where I'd really benefit from the minimum version being raised to 3.7 (time_ns, dataclasses, etc.)

Are there any blockers for this?

For the record: I've been running 3.8 just fine locally (although since https://github.com/NeuroTechX/eeg-notebooks/pull/32 is unmerged, that might suggest there are some remaining issues, but we could just go ahead and me

[2021-03-26 09:33] ErikBjare commented on #77
I added coverage for `*.ipynb` notebooks in my thesis repo the other day, but I'm not sure how to do it for the `auto_examples`...

I gave it a shot in https://github.com/NeuroTechX/eeg-notebooks/pull/88, but it's not ready yet.

[2021-03-26 12:29] #29 closed, assigned to JohnGriffiths, ErikBjare, m9h

[2021-03-26 12:29] #50 closed, assigned to JohnGriffiths

[2021-03-26 20:29] JohnGriffiths commented on #90
I approve of this. I think 3.7 now fixes a lot of the pywinhook issues that initially promoted choice of 3.6

[2021-04-08 13:24] #90 closed, assigned to nobody

[2021-04-11 16:47] ErikBjare commented on #43
@JohnGriffiths I'm not sure, I'd love it if you had a look at it and told me what you think.

Code is here: https://github.com/ErikBjare/thesis/tree/master/src/eegwatch/devices

Basically I created an abstract class `EEGDevice` that is implemented by the classes `MuseDevice` and `BrainflowDevice`. It simplifies a lot of the code imo, no more `if` statements to check if using one type of device or

[2021-04-11 19:33] JadinTredup commented on #43
@ErikBjare I am going to look this over today. Thank you so much for doing this. One of my biggest take aways from my internship development-wise has been implementing classes like this and so I was intending to do this at some point.

[2021-04-11 19:38] JadinTredup commented on #43
@JohnGriffiths I like this a lot and think it improves our flexibility/scalability in the future. If you're okay with it I say we set up another branch and work on merging this.

[2021-04-11 19:43] #84 closed, assigned to JohnGriffiths

[2021-04-12 04:21] retiutut commented on #48
I think there is enough info here to implement a solution. It might help for me to ask some questions later.

Maybe this involves:
- [ ] Make a change to the Docs to clarify info
- [ ] Making a change to the code in the eeg-nb command line script

[2021-04-13 12:00] ErikBjare commented on #43
@JadinTredup Branch set up in #92, comments welcome!

[2021-04-18 10:15] #70 closed, assigned to ErikBjare

[2021-04-24 22:41] mikaelhaji opened #96 "Error when installing dependency dukpy on macOS"
- MacBook Pro 1 inch 2019 - Big Sur
- OpenBCI Cyton and Ultra Cortex 4

I was planning on testing out the P300 and SSVEP Stimuli. However, when setting up by Anaconda Environment, I kept on getting an error on "dukpy lib." I tried to pip install dukpy but it still doesn't work. I also tried binder but got another error -- from my understanding it hasn't been updated in a while anyway.

Any Help Wo

[2021-04-24 22:51] JohnGriffiths commented on #96
Hi Mikael.

Let's try to get to the bottom of this.

What do you get when you do `pip install dukpy` ?

[2021-04-24 22:56] mikaelhaji commented on #96
[image: Screen Shot 2021-04-24 at 6.55.17 PM.png]

Hey John,

Above is the error I am getting.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
04/24/21,
06:55:22 PM

On Sat, Apr 24, 2021 at 6:51 PM John Griffith

[2021-04-24 22:57] mikaelhaji commented on #96
^When I pip install dukpy

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
04/24/21,
06:57:41 PM

On Sat, Apr 24, 2021 at 6:55 PM Mikael Haji ***@***.***> wrote:

[2021-04-25 02:16] JohnGriffiths commented on #96
sorry - were you intending to attach a second screenshot there?

or are you saying you get the same error when you try to pip install `dukpy` ?

[2021-04-25 02:31] mikaelhaji commented on #96
I get the exact same error. The second image was basically the same as the
first one.

On Sat, Apr 24, 2021 at 10:16 PM John Griffiths ***@***.***>
wrote:

[2021-04-26 00:16] mikaelhaji commented on #96
Just want to follow up on this error.

On Sat, Apr 24, 2021 at 10:31 PM Mikael Haji ***@***.***> wrote:

[2021-04-26 07:06] ErikBjare commented on #96
You need to provide full log output for us to be able to help you.

Preferably in text form and not as a screenshot (at least not a screenshot sent through your mail client, since that doesn't seem to be accepted by GitHub).

Seems you are not alone: https://github.com/amol-/dukpy/issues/36

But it *should* work fine, your system probably lacks some build-time dependency (Xcode tools?).

[2021-04-26 18:10] mikaelhaji commented on #96
Sure, here it is.

(logs moved to non-email comment for markdown support)

On Mon, Apr 26, 2021 at 3:06 AM Erik Bjäreholt ***@***.***>
wrote:

[2021-04-26 20:55] ErikBjare commented on #96
Email replies makes your comment impossible to format with Markdown and therefore excessively long. So here it is with Markdown:

[code]

As the logs indicate, you are missing xcrun (and probably more) from Xcode Developer Tools. This is a common dependency for building almost any software on macOS, and fails for this particular package because it doesn't provide binary wheels for macOS (as indica

[2021-04-27 09:04] ErikBjare commented on #96
Closing since this is certainly due to missing Xcode dev tools. It'd be nice if they weren't needed, but it's up to the dukpy devs to fix it by publishing binary wheels.

[2021-04-27 09:04] #96 closed, assigned to nobody

[2021-05-06 14:43] oreHGA opened #97 "Add signal quality checks before recording starts"
## 📝 Provide a description of the new feature

_What is the expected behavior of the proposed feature?_

This will be based off @ErikBjare 's take on the problem - https://erik.bjareholt.com/thesis/Signal.html

- We will add a new flag to command line to check signal quality : eegnb runexp [flag for quality check]

Results will be placed on the command line prompt with a suggestion on changes to m

[2021-05-11 10:01] danielemarinazzo opened #98 "extra electrode not visible with Muse2 and Bluemuse?"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc): Windows
- Python Version: 3.7
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Muse2 with Bluemuse

## 📝 Provide detailed reproduction steps (if any)

1. Created extra electrode with mini usb 5 pins (https://hackaday.io/project/162169-muse-eeg-headset-making-extra-electrode/details)
2. Connected the Muse2 with Bluemuse

[2021-05-11 10:11] ErikBjare commented on #98
Probably better to open this issue in the muse-lsl repo.

There's an experimental bleak backend in muse-lsl (not sure if merged yet)
that I've found to work well on Linux (and should work on Windows too).
Can't remember if we got the AUX channel, but might be worth trying:
https://github.com/alexandrebarachant/muse-lsl/pull/148

On Tue, 11 May 2021, 12:01 Daniele Marinazzo, ***@***.***>
wrote:

[2021-05-18 13:39] andraderenew commented on #16
I have the same issue sort of. I get **no file recorded** although the error it outputs is different. And this depends on the mode of execution. Let's be more precise. If I run in terminal 'eegnb runexp -ip' then I input all the values correctly and  I get the PTB sound from psychopy error.

EEG device successfully connected!
Press [ENTER] when ready to begin...
Traceback (most recent call last):

[2021-05-20 13:04] JohnGriffiths commented on #97
This function should go in the cli `utils.py` file:

https://github.com/JohnGriffiths/eeg-notebooks/blob/master/eegnb/cli/utils.py

Made a minimal start on this for muselsl. Pushing shortly.

[2021-05-20 13:15] JohnGriffiths commented on #97
OR, maybe we should make use of our device abstraction and put some part of this as a method in the `EEG` class

https://github.com/NeuroTechX/eeg-notebooks/blob/master/eegnb/devices/eeg.py

I see two ways of doing this:

1. Write short data snippets to file and read in and compute signal quality index as a separate step

2. Read the data snippets in memory and compute sq

Consderations:

Option 1

[2021-05-20 13:50] JohnGriffiths commented on #97
Make a 10s temp recording file for sigqual eval with EEG device and muse headset

[code]

[2021-05-20 13:52] JohnGriffiths commented on #97
Code for pulling samples used in the muselsl visualizer

https://github.com/alexandrebarachant/muse-lsl/blob/master/muselsl/viewer_v2.py

[code]

[2021-05-20 14:24] ErikBjare commented on #97
Brainflow filtering: https://brainflow.readthedocs.io/en/stable/Examples.html#python-signal-filtering

MNE filtering: https://mne.tools/stable/generated/mne.filter.filter_data.html

My filtering (inspired by the muse-lsl viewer): https://github.com/ErikBjare/thesis/blob/b25661aaffa5ab957b464fe8f46fdbfe81b51eb4/src/eegclassify/clean.py#L26-L45

[2021-05-20 14:44] oreHGA opened #102 "Add a CLI experiment run to the pre check-in tests"
## 📝 Provide a description of the new feature

_What is the expected behavior of the proposed feature?  What is the scenario this would be used?_

Add a mock run of the cli to allow for end-to-end test of an eeg-notebook experiment. Code can live in the `/test` folder.

Eventually, these test methods should run successfully before PR completion.

* you can initialize a mock device with brainflow
-

[2021-05-20 14:46] ErikBjare commented on #16
@andraderenew Whoops sorry, my bad!

Fixed in #101, will be merged momentarily.

@kushaalrao If you're still having issues, please reopen the issue with details for the latest version of eeg-notebooks :)

[2021-05-20 14:51] #16 closed, assigned to nobody

[2021-05-20 15:10] ErikBjare commented on #102
Perhaps https://github.com/NeuroTechX/eeg-notebooks/pull/88 can be continued.

[2021-05-20 15:28] #77 closed, assigned to ErikBjare

[2021-05-20 15:29] ErikBjare commented on #102
I fixed and merged #88, so now we have a framework for adding more tests at least.

[2021-05-20 15:50] andraderenew commented on #16
I don't quite follow! Can anyone explain how will this be solved? Sorry for not knowing much of the dynamics here on github.

[2021-05-20 16:02] oreHGA commented on #16
No worries @andraderenew . Your experiment failed to start due to a bug in the code that has now been fixed. Can you try the following:

- Pull/Download the latest version of the eeg-notebooks project again like you did when you first started (this will give you the latest changes that should resolve your issue)

- try running the experiment again.

[2021-05-20 16:18] andraderenew commented on #16
ah ok thank you!! I guessed as there were a few files changed 22mins ago that possibly that could be it but I wanted to make sure

[2021-05-20 16:45] JohnGriffiths commented on #97
So following the discussion in developer's meeting today, the plan on this is to implement

i) A 'data buffer' or 'get recent data' functionality in the `EEG` device class

ii) Add Erik's signal quality check code as a function in `analysis/utils.py`

iii) Add something that initializes i), calls ii), and prints results to command line

PR for my first attempt at the data buffer component, for mus

[2021-05-20 19:26] danielemarinazzo commented on #98
Thanks! But apparently looks like the muse lsl is not able to see the aux on the Muse 2, while musejs based systems, such as Mind Monitor and EEGedu, do. See https://github.com/kowalej/BlueMuse/issues/43#issue-897247039.
Any chance to integrate this with the eeg notebooks?

[2021-05-20 19:52] JohnGriffiths commented on #98
Sorry our competence with eeg-notebooks is only really dealing with the streamed inputs that we get.

If you're asking whether we can use an EEGedu stream as an input to muse-lsl - not really sure, I don't understand the tool well enough.

One new option you could look into (we haven't yet) is the [petal.tech](https://petal.tech/) streaming app, which is similar to bluemuse. The developers are qui

[2021-05-20 20:13] JohnGriffiths commented on #98
Ok I just tried with Petal. The LSL stream is picked up, but it does not (at least for muse S, which I have on me currently) have the extra channel by default.

[ I'm not sure whether or not that is expected on muse S actually, but interaxon peeps tell me it can be used with an additional chan. I'm not sure if this differs on muse2 and muse2016. I can check muse2016 later, but don't have a muse2.

[2021-05-20 21:04] andraderenew commented on #68
I have tried to run like in this code I add here. But it seems that this issue has been presented before.

(eeg-notebooks) andraderenew@Renes-MacBook-Air eeg-notebooks-master % eegnb runexp -ip
Experiment to run: 1
run command line prompt script
Welcome to NeurotechX EEG Notebooks

Please enter the integer value corresponding to your EEG device:

[ 0] None
[ 1] Muse (2016)
[ 2] Muse 2
[ 3] Muse S

[2021-05-21 06:45] ErikBjare commented on #68
@andraderenew As said before in https://github.com/NeuroTechX/eeg-notebooks/issues/16#issuecomment-843180077, this issue was fixed in #101. Make sure you're using the latest commit.

[2021-05-21 06:53] andraderenew commented on #68
I am using the latest commit. I deleted all I had previously and reinstalled from source.

[2021-05-21 07:43] danielemarinazzo commented on #68
If the problem still persists, try to run psychopy before eegnb. Once you are in psychopy go to preferences->audio->audio library and puy pygame or pyo on top (you should have these installed), and leave ptb and sounddevice somewhere lower in the queue.

[2021-05-21 07:47] danielemarinazzo commented on #68
see also https://github.com/NeuroTechX/eeg-notebooks/issues/66#issuecomment-759330579 and replies

[2021-05-21 08:00] ErikBjare commented on #68
@andraderenew I can see from the stack trace that you're not using the latest commit. You may have files from the old commit still around.

Specifically this:

[code]

This is the line that was wrong before and was fixed, and is indeed corrected in the latest commit.

[2021-05-21 08:01] danielemarinazzo commented on #98
Thanks a lot! I looked into the code for petal, and they have coded by default 4 channels only. One solution could be to edit the code to add the aux channel.
On the other hand looks like @urish did this here https://github.com/urish/node-lsl, maybe @jdpigeon has directly addressed this issue (not being able to see the aux channel with lsl, but yes with js, and then convert the js to lsl for use i

[2021-05-21 08:04] danielemarinazzo commented on #68
thanks for checking, I'll use the last commit!
I was pointing out a solution that worked for me when everything else did
not, in case @andraderenew is actually using the last commit.

On Fri, 21 May 2021 at 10:01, Erik Bjäreholt ***@***.***>
wrote:

[2021-05-21 08:05] ErikBjare commented on #68
@danielemarinazzo Sorry I tagged the wrong person, I meant to tag @andraderenew.

[2021-05-21 08:50] andraderenew commented on #68
all solved!!! thanks for the comment on PTB and psychopy. I had to set preferences with python console because with the GUI it crashed.

[2021-05-21 08:54] andraderenew opened #104 "how to visualize"
Dear community:
My question goes to how to run the code in eegnb examples with this command "python *viz*". When I run that I have to change certain things inside the code of course. So I change 'eegnb_examples' for 'local' and 'muse2016' for 'muse2'. Still that doesn't make the trick. What shall I do further on?

  File "01r__n170_viz.py", line 63, in <module>
    data_dir = eegnb_data_path)
  Fi

[2021-05-21 11:18] JohnGriffiths commented on #104
Hi there.

The problem seems to be that the script is not finding any recording files.

Are you wanting to run this on the eegnb example dataset or on your own recordings?

In either case, check that the file path being generated at the start of the script is indeed pointing to a folder with .csv files in on your Machine.

[2021-05-21 14:55] andraderenew commented on #104
I want to run this on a file being recorded with eegnb although I don't know how to check the path is the correct one. Shall I print?

[2021-05-22 18:02] andraderenew commented on #104
the issue for me here is that I can check tht output of these two lines by printing
[code]
but not of this line
[code]

this is something I don't know how it reads inside.

I attach the code I changed
[code]

I don't know if I have to change 'eegnb_examples' to 'local'

[2021-05-22 18:38] andraderenew commented on #104
I have tried with python console and I used local as well and nothing seems to work. It says it expects 6 arguments and saw 6.

raw = load_data(subject, session,  experiment='visual-N170',site='local',device_name='muse2', data_dir='~/.eegnb/data/')

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'load_csv_as_raw' is not defined

['TP9', 'AF7', 'AF8', 'TP10

[2021-06-06 15:07] felixmpichardo opened #108 "Missing Marker Column in Output (Muse2 with BlueMuse)"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc):  Windows 10
- Python Version: 3.7
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Muse2 with Bluemuse

## 📝 Provide detailed reproduction steps (if any)

1. Connect to BlueMuse and begin streaming.
2. Ran the demonstration code for running an experiment [as per the documentation ](https://neurotechx.github.io/eeg-noteb

[2021-06-17 15:40] Maari13 opened #111 "Visual P300 event markers not recorded"
## ℹ Computer information

- Platform OS: Windows 10
- Python Version: Python 3.7.10
- Brain Interface Used: Muse 2

## 📝 Provide detailed reproduction steps (if any)

1. switch on your Muse device
2. start streaming using BlueMuse or Petal Metrics (I tried with both and had the same issues)
3. run the experiment with the command eegnb runexp -ip, and input the necessary parameters
4. complete the

[2021-06-18 05:56] oreHGA commented on #104
Hi @andraderenew, reading through the parser error, I think this may be from the recorded .csv file... can you check the content of the .csv file on like 14 and see how many entries you have?

[2021-06-18 09:51] ErikBjare commented on #104
@oreHGA The reason is probably due to an unmarked Markers column which starts outputting data at the 15th sample, see: https://github.com/NeuroTechX/eeg-notebooks/issues/108

[2021-06-18 09:53] ErikBjare commented on #108
Thinking about this again, I think I may be the one to blame. Regression probably happened in my "continuous recording to file" PR to muse-lsl: https://github.com/alexandrebarachant/muse-lsl/pull/139

Maybe we should open an issue there instead? Or just figure out how to fix it (shouldn't be too hard) and submit a PR straight away.

[2021-06-18 10:09] ErikBjare commented on #111
I think this is a duplicate of #108

Are the markers not appearing at all, or is the column just missing values initially?

[2021-06-18 10:18] Maari13 commented on #111
The column is missing values initially: starting from data row 13 (or row 14 of the file) until the end of the file the values are present. I was wondering whether I can trust that the values that are present are aligned with the correct timestamp, or the fact that the markers start from row 13/14 means that they are shifted in time - I mean the marker on row 14 should really be on row 2?

[2021-06-18 13:48] ErikBjare commented on #111
I'm fairly confident that they are aligned, but @JohnGriffiths might have a more confident answer.

[2021-06-18 13:55] JohnGriffiths commented on #111
I agree. The lsl process writes to file what is received on the the current stream at each time point. I'm not aware of any way it would buffer or otherwise delay the stream output. Especially from the markers stream, which is running locally (as opposed to the EEG stream, which operates on Bluetooth data packets that are known to have a minimum and a variable lag).

[2021-06-18 14:22] Maari13 commented on #108
I am a complete novice as far as EEG-Notebooks or the topic of streaming goes. Just wanted to say, that I had the same issue (#111) in both cases: when I used BlueMuse for streaming and when I used Petal Metrics. Petal Metrics gives the option to choose either LSL or OSC as the stream type. I previously used LSL, but just now tried out the OSC option, however the problem persists - at the beginnin

[2021-06-20 10:24] andraderenew commented on #104
I added 14 zeros(which I figured is what could fix this correct me if I'm wrong) and now I have this error

Traceback (most recent call last):
  File "01r__n170_viz.py", line 61, in <module>
    raw = load_data(subject,session,
  File "/Users/andraderenew/eeg-notebooks/eegnb/analysis/utils.py", line 157, in load_data
    return load_csv_as_raw(
  File "/Users/andraderenew/eeg-notebooks/eegnb/analy

[2021-06-20 16:12] ErikBjare commented on #104
Did you also add a header "Marker1" or such?

On Sun, Jun 20, 2021, 12:24 andraderenew ***@***.***> wrote:

[2021-06-21 10:28] Maari13 commented on #108
In order to do some further testing, I also experimented with Visual N170, Visual SSVEP and Auditory Oddball (orig) - in all the cases the title of the "Marker" column was missing from the experimental data file, as well as the first 12 event markers. Hence, the issue is not specific to the Visual P300 experiment.

[2021-06-25 12:56] andraderenew commented on #104
sorry I didn't know, so now I did add it but I still have this error.

(eeg-notebooks) andraderenew@Renes-MacBook-Air visual_n170 % python *viz*
Traceback (most recent call last):
  File "01r__n170_viz.py", line 63, in <module>
    data_dir = eegnb_data_path)
  File "/Users/andraderenew/eeg-notebooks/eegnb/analysis/utils.py", line 163, in load_data
    verbose=verbose,
  File "/Users/andraderenew/

[2021-06-28 16:40] Maari13 opened #112 "Number of events 0"
## ℹ Computer information

- Platform OS: Windows 10
- Python Version: Python 3.7.10
- Brain Interface Used: Muse 2

## 📝 Provide detailed reproduction steps (if any)

1. switch on Muse 2 and start streaming with Petal Metrics
2. run experiment P300 with the command eegnb runexp -ip, and input the necessary parameters; complete experiment
3. fill in the missing values in the experimental data csv

[2021-07-02 06:14] oreHGA commented on #104
Hi @andraderenew:

This error is pointing toward the file path not being specified correctly when `load_data()` is called.

Couple questions here:
- What OS are you using?
- Where does your recorded file live, by default it should be in the `~/.eegnb/` directory. Can you confirm you have recording files present in this directory?

![image](https://user-images.githubusercontent.com/13490968/1242290

[2021-07-02 06:27] oreHGA commented on #112
@Maari13, ran through your file locally and this seems to be the reason why you're not getting events returned.

In the notebook, you'd notice that this snippet exists:

[code]

The `reject` field determines the threshold for rejecting epochs based on peak-to-peak signal amplitude. [See MNE docs here](https://mne.tools/stable/generated/mne.Epochs.html#mne.Epochs)

Notice below how changing the `re

[2021-07-02 09:26] JohnGriffiths commented on #112
Thank you @oreHGA - indeed this is not an uncommon issue. As Ore said, you can try tweaking the threshold iteratively; e.g. up/down a few percent. You will probably see as you do that more epochs are kept the more lenient you go, and concurrently that the average ERP trace gets noisier ('wigglier'), because more noisy data points are being included.

As Ore said, the fundamental issue here is a no

[2021-07-02 10:34] Maari13 commented on #112
Thank you so much for the explanation and advice. It did not occur to me that an automatic quality check was applied to the epoch data. I was going to do longer recordings, but first wanted to make sure I got things to work and then was puzzled ... I will definitely need to check the contact of the electrodes with the scalp and preview the signal before acquiring data next time. And then tweek the

[2021-07-18 15:01] #97 closed, assigned to nobody

[2021-07-18 15:50] JohnGriffiths opened #115 "Add cmdline signal quality checker to documentation"

[2021-07-18 15:59] JohnGriffiths opened #116 "Make data zipper function"

[2021-07-18 16:09] JohnGriffiths commented on #116
## 1. Make core function
--------------------------

Make python function in `datasets.py` that zips all files in the `ntcs` data folder

Full file path would e.g. be

`~/.eegnb/data/visual-N170/local_ntcs/museS/subject0999/session001/recording_2020-10-19-00.45.04.csv`

We would want to zip up everything below here

`~/.eegnb/data/visual-N170/local_ntcs`

(question mark around parametrization of e

[2021-07-18 16:19] JohnGriffiths opened #117 "Documentation tweaks for NTCS"
Look for improvements / weak points in the documentation; propose changes

[2021-07-18 16:40] JohnGriffiths opened #118 "local data summary function"
This is an idea for a new feature that could be helpful to new-ish users:

A command-line utility that lists what data is present on the machine, including giving a bit of narrative summary in the terminal output.

Something like, you run

`eegnb localdata-report`

And you get

[code]

[2021-07-18 18:54] kaushikCanada opened #119 "while installing on ubuntu gives wxpython error"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc):
- Python Version:
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc):

## 📝 Provide detailed reproduction steps (if any)

1. …Linux
2. …Synthetic
3. …python 3.7

### ✔️ Expected result
installed
_What is the expected result of the above steps?_

### ❌ Actual result
Successfully built gdown psychopy sphinx-gallery pylsl que

[2021-07-18 19:06] JohnGriffiths commented on #119
Hi Kaushik.

Thanks for this.

Just to confirm: this was the result you got when running

`pip install -e .`

in the eeg-notebooks folder?

ta.

[2021-07-18 20:22] kaushikCanada commented on #119
Yea that is the one.

On Sun., Jul. 18, 2021, 3:06 p.m. John Griffiths, ***@***.***>
wrote:

[2021-07-19 06:31] ErikBjare commented on #119
Try passing `--find-links=https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04/` to the pip install command, or install a compiler toolchain (as the error complains about not finding one).

[2021-07-19 13:26] kaushikCanada commented on #119
Wbat is yhe compiler toolchain? I thought u just do the pip install

On Mon., Jul. 19, 2021, 2:32 a.m. Erik Bjäreholt, ***@***.***>
wrote:

[2021-07-19 15:32] ErikBjare commented on #119
@kaushikCanada See for example: https://stackoverflow.com/a/19816655/965332

[2021-07-19 18:41] sjburwell opened #120 "OpenGL error when importing n170 task from installation/test page instructions"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc): MacOS
- Python Version: 3.7.10 (default, Feb 26 2021, 10:16:00)
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Notion, Muse

## 📝 Provide detailed reproduction steps (if any)

1. Followed the [installation and test instructions](https://neurotechx.github.io/eeg-notebooks/getting_started/installation.html) verbatim, ex

[2021-07-21 12:49] sjburwell commented on #120
I think I have resolved the issue by updating psychopy to version 2021.2.0, per the PsychoPy installation instructions! Not sure if there are any caveats to running a more current version of psychopy with these notebooks, but posting here in case anyone else runs into the same error and/or the "official" psychopy version could be updated.
![image](https://user-images.githubusercontent.com/34345358

[2021-07-21 12:49] #120 closed, assigned to nobody

[2021-07-21 13:42] JohnGriffiths commented on #120
@sjburwell - out of interest, do you get an error with the following:

- Create a fresh conda environment
- install / update pip
- pip install psychopy
- `import psychopy`
- `import eegnb`
- `from eegnb.experiments.visual_n170 import load_data`

In other words, is this an issue with `pip` psychopy installation, on your OS (Mac)

[2021-07-24 17:01] andraderenew commented on #104
Mac OS big sur 11.4

This is what I get using the code provided!!!

(eeg-notebooks) andraderenew@Renes-MacBook-Air visual_n170 % python *viz*
Traceback (most recent call last):
  File "01r__n170_viz.py", line 63, in <module>
    data_dir = eegnb_data_path)
  File "/Users/andraderenew/eeg-notebooks/eegnb/analysis/utils.py", line 163, in load_data
    verbose=verbose,
  File "/Users/andraderenew/eeg

[2021-07-28 17:38] hvjay commented on #116
To do next (@HVjay , @AyrusCode  ):

- [x]  Add a bit more feedback at the terminal
   ( e.g. `"running data zipper... your data folder is X...looking for folders in X... X folders found...Making a zip file...Your zip file is at X location...It contains the following directories"`)
   (just some initial thoughts. Don't need to go overboard, but the feedback will be helpful for people to understand

[2021-07-29 04:23] sjburwell commented on #120
Apologies for the delay - just got around to trying this in the order you suggest. Same issues - unable to load OpenGL. With pip 21.2.1, followed by a psychopy installation.

(Ps. I realized in the above code I reference `from eegnb.experiments.visual_n170 import load_data` being the problematic line, rather it's the line `from eegnb.experiments.visual_n170 import n170`. Same issue, nonetheless.)

[2021-07-29 14:57] JohnGriffiths opened #126 "tutorial videos"
Make a set of videos to help users.

Two parts to this:

- scripting
- recording the videos

@JadinTredup has already made a start on the scripting

https://docs.google.com/document/d/1WykgnZINERFQ6j55vDHooPVSaBcC_-D__R4vIQB0vgc/edit#heading=h.lhzeokb5wp98

The above doc has to-do items also.

[2021-07-30 18:02] sjburwell opened #127 "When trying to use brainflow==4.4.0, "stim" channel all 0s in saved .csv"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc): MacOS
- Python Version: 3.7
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Notion 2, Crown

## 📝 Provide detailed reproduction steps (if any)

I am trying to record data from the Neurosity Crown, which was included in `brainflow==4.4.0`. I have updated `brainflow` in my local `eeg-notebooks` environment, as well as ad

[2021-08-12 12:50] hvjay commented on #117
Changes on https://github.com/NeuroTechX/eeg-notebooks/compare/documentation_changes. Will finish documentation by middle of next week

[2021-08-12 14:23] JadinTredup commented on #127
@sjburwell my bad for not seeing this earlier going to try to solve this today. Will update you when I get make some progress.

[2021-08-12 15:51] sjburwell commented on #127
Thanks @JadinTredup - please let me know how I might help with testing, etc. I was able to integrate Crown into my local `eeg-notebooks` repo, but the events (stimulus timing, etc.) aren't coming through, but I imaging someone more familiar with `eeg-notebooks` might have an idea where the problem may be coming from.

[2021-08-12 19:42] JadinTredup commented on #127
@sjburwell I believe I have fixed the problem in this PR. I tested it with my Notion 2 but if you could give it a test with your Crown before I merge it, that would be greatly appreciated!

[2021-08-13 15:33] sjburwell commented on #127
Just posted to the PR, but I just tested on the Crown and worked well for me! Thanks @JadinTredup for handling this!

[2021-08-13 15:33] #127 closed, assigned to JadinTredup

[2021-08-26 13:43] JohnGriffiths opened #130 "NTCS Consent Form Internal Testing"
We are finalizing internal testing for the NTCS-Phase1 consent process and experiment instructions.

**Everyone please take the time to go through the process below and provide feedback.**

Kudos to @tmorshed for setting all of this up.

## NTCS Phase 1 Internal Testing Instructions

As you know, we are kicking off a new initiative for public EEG experimentation at home using common market-availab

[2021-09-04 15:13] sjburwell opened #131 "Crown sampling interval is 4.0 when should be 3.90625 (sampling rate = 256 Hz) - eeg-notebooks or brainflow issue?"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc): Mac
- Python Version: 3.7
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Crown, Notion2

## 📝 Provide detailed reproduction steps (if any)
Not sure if I should open this issue here or in the `brainflow` documentation, but:

1. Running Neurosity Crown through eeg-notebooks
2. Inspect the first difference in `timestamps

[2021-09-05 17:42] sjburwell commented on #131
I believe the issue is upstream from `brainflow`, i.e., at the level of the Neurosity SDK. I have written to the Neurosity devs.

[2021-09-08 19:45] sjburwell commented on #131
Quick (hopefully) question: how should the "timestamps" column in the recorded *.csv files be interpreted? Are these the actual times / latencies of the recorded samples? If there is a substantial gap between consecutive timestamps (e.g., 100 milliseconds when the sampling interval should be a few milliseconds), does this indicate that there was a gap in recording (i.e., a "boundary / discontinuit

[2021-09-15 17:13] pjkohler opened #132 "Issue initializing Muse2 on MacOs"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc): macOS 10.15
- Python Version: 3.7
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Muse with BLED112 dongle

## 📝 Provide detailed reproduction steps (if any)

1. Install eeg-notebooks following the instructions here: https://neurotechx.github.io/eeg-notebooks/getting_started/installation.html
2. Attempt to open EEG str

[2021-09-15 17:57] pjkohler commented on #132
Okay, so I think I have to start the stream in a separate terminal window before running the notebook. When I do that, I get a different error. I get the same error whether I use "muse" or "muse2" as the device.
<img width="1212" alt="Screen Shot 2021-09-15 at 1 55 49 PM" src="https://user-images.githubusercontent.com/6529161/133485054-448f47aa-bb00-4f41-ade2-b3a386820f9e.png">

[2021-09-16 20:44] #116 closed, assigned to AyrusCode, hvjay

[2021-09-16 20:44] #117 closed, assigned to AyrusCode, hvjay

[2021-09-16 21:02] AyrusCode commented on #130
On final page (Thank you page) with two options, it is possible to download responses via Option 2 but no place to enter email if person so chooses to have their responses emailed to them for Option 1.

![image](https://user-images.githubusercontent.com/9661655/133685125-a83570ee-8d7c-4d1c-8e6e-669f24a91f96.png)

[2021-09-19 18:15] oreHGA commented on #130
feedback for consent form
- would it be possible to add a link back to the details about the study in the previous page (for someone who want's to go back and check)
![image](https://user-images.githubusercontent.com/13490968/133937097-af63a019-64e0-4cd7-b8a4-b125c08766e6.png)
- nit: change from "i" to "you" to stay consistent with the other questions
![image](https://user-images.githubusercontent

[2021-09-21 16:56] #118 closed, assigned to AyrusCode, hvjay

[2021-09-21 17:00] hvjay opened #134 "Add local data summary function to documentation"

[2021-09-23 15:09] JohnGriffiths commented on #130
Summarizing dev meeting discussion on this:

On Redcap page:

- 'Option 1: Enter your e-mail address' line on final page doesn't have an option to enter. Fix this ( we already have it? )
- Add 'go to previous page' links
- Make the 'we are unable to continue' message a bit more polite and explanatory
- Add link to NTCS challenge page at end ( + other parts? ) of survey
- ( Update NTCS challenge pa

[2021-09-23 16:58] JadinTredup commented on #131
Hi @sjburwell sorry for getting to this late again, I need to turn on my email notifications for github.

It has been a minute since I have written the part that handles timestamps but if I remember correctly I generally trusted that each consecutive row of data was sampled at the correct time. The Neurosity devices use OSC on the Brainflow back end but I don't think the same is true about OpenBCI

[2021-09-23 17:21] hvjay opened #135 "Add option for signal quality checker when running experiments"
When running experiments, users should be able to verify the quality of their signal right before starting an experiment.

[2021-09-23 17:24] hvjay opened #136 "Verbose option to toggle warning messages"
Any CLI command can come with package errors such as " _We strongly recommend you activate the PTB sound engine in PsychoPy prefs as the preferred audio engine. Its timing is vastly superior. Your prefs are currently set to use ['sounddevice', 'PTB', 'pyo', 'pygame'] (in that order)_". Include a verbose feature to toggle displaying warning messages from external packages and libraries

[2021-09-24 18:01] sjburwell commented on #131
Thanks @JadinTredup, no problem about the delay.

I've seen varying degrees of this uneven sampling interval issue with different headsets and different recording sessions. For most cases and with boards that have been around a while (e.g., muse2016, cyton_daisy), the timestamps are fairly evenly spaced regardless of laptop/wifi network and I believe can fairly often be trusted that their observed

[2021-09-24 18:01] #131 closed, assigned to nobody

[2021-10-07 14:25] tmorshed commented on #130
**REDCap updates:**
- [X] 'Option 1: Enter your e-mail address' line on the final page doesn't have an option to enter. Fix this
 - **A:** We already have it. Will fix the text on the last page. Updated the text now, it tells them
- [X] Add 'go to previous page' links
- [x] Make the 'we are unable to continue' message a bit more polite and explanatory
 - **Updated text:** "Unfortunately, we cannot

[2021-10-23 03:59] oreHGA commented on #135
Hi @HVjay hope you're doing well! Wanted to find out if you were able to make headway with this? Looking through I'm thinking a flow here will be:

- user runs `eegnb runexp`
- A little prompt comes up letting the user know that "Signal quality" will be recorded & a character to press to "skip and begin recording"
- show a message & trigger the experiment right after

[2021-10-25 23:21] tmorshed opened #138 "`wxPython` requirement issue"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc): Fedora 34 & Ubuntu 20.04 (both on amd64)
- Python Version: 3.7
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): None

## 📝 Provide detailed reproduction steps (if any)

1. Initiate a fresh OS image (either [Fedora 34](https://getfedora.org/workstation/download/) or [Ubuntu 20.04](https://ubuntu.com/download/desktop)) on

[2021-10-26 15:57] ErikBjare commented on #138
The build fails because it's missing the GTK3 library, which is a build dependency. On Ubuntu this can be installed with `sudo apt install libgtk-3-dev`. You might be missing other build dependencies too, at least one more is used in CI:

https://github.com/NeuroTechX/eeg-notebooks/blob/85d286c4ab5d1b9b9b27fbd73d920e2736e2d03b/.github/workflows/test.yml#L44-L47

This prerequisite needs to be menti

[2021-11-03 14:23] pikawika commented on #96
I had a similar issue, mine was due to missing exports. See [here](https://github.com/astropy/halotools/issues/813#issuecomment-552165844). Running the install procedure of eeg-notebooks once more after doing these 2 exports worked.

[2021-11-04 02:45] JohnGriffiths commented on #138
Also getting this problem now on linux, where I don't have `sudo` access.

Solution I found =

- create conda env as per eegnb instructions and activate
- `conda install wxpython`
- `pip install . ` in eeg-notebooks folder

[2021-11-04 16:47] JohnGriffiths commented on #138
Added the conda part of that to the conda tab of the installation instructions

https://github.com/NeuroTechX/eeg-notebooks/commit/55a467f1384a1108231f9e045c6c5793745489ab

https://neurotechx.github.io/eeg-notebooks/getting_started/installation.html#installing-the-python-library

The extra wheels install line should be added to the `venv` tab part of that box also.

[2021-11-04 18:35] devyansh opened #143 "OpenBCI Testing"
## ℹ Computer information

- Platform OS (Windows 10):
- Python Version: 3.7
- Brain Interface Used (OpenBCI Cyton):

## 📝 Provide detailed reproduction steps (if any)

1. …Followed instructions on NTCS website about Imitating an EEG Stream using OpenBCI Cyton
2. …
3. …

### ✔️ Expected result

EEG Data stream from Cyton

### ❌ Actual result

IndexError: list index out of range

Got this error aft

[2021-11-24 22:19] devyansh commented on #143
On further testing I found out that in the screenshot above, I was inputting 16 but the required parameter was the index therefore 0.

I was able to do further testing by the command line interface. I was unsuccessful in using Jupyter Notebooks, or the provided code like this one:

-----
from eegnb.devices.eeg import EEG

##### define the name for the board you are using and call the EEG object
ee

[2021-11-26 15:54] oreHGA commented on #112
Hi @Maari13 , hope you were able to get more sample in after adjusting the "reject" threshold. I'll go ahead and close this now but feel free to reply to the thread if you still have any issues. Cheers

[2021-11-26 15:54] #112 closed, assigned to oreHGA

[2021-11-26 15:57] JohnGriffiths commented on #119
The `wxpython' installation issue is solved in the latest documentation ( basically, use conda rather than pip for this ).

c.f. here

https://github.com/NeuroTechX/eeg-notebooks/issues/138

and the installation instructions ( `wxpython` is in the conda create line )

https://neurotechx.github.io/eeg-notebooks/getting_started/installation.html#installing-the-python-library

[2021-11-26 16:00] #119 closed, assigned to nobody

[2021-11-26 16:00] oreHGA commented on #132
Hi @pjkohler - Do you mind giving this a shot again? We have made recent changes that should attempt to fix this

[2021-11-26 16:02] pjkohler commented on #132
of course! how do I update?

[2021-11-26 16:02] #138 closed, assigned to nobody

[2021-11-27 00:53] oreHGA commented on #132
thanks! here are some steps to try

- pulling the latest changes - `git pull origin master`
- (optional) reinstalling dependencies in your environment for the project - `pip install -e .`
- try running the sample here https://neurotechx.github.io/eeg-notebooks/getting_started/installation.html#installing-the-python-library

lmk if you have any questions

[2021-11-27 00:57] oreHGA commented on #130
Thanks everyone for jumping on to test. Think we can close this now. looking forward to our launch soon :)

[2021-11-27 00:57] #130 closed, assigned to ErikBjare, royyannick, hubertjb, AyrusCode, oreHGA, JadinTredup, hvjay

[2021-12-30 17:35] nicolas-barabino commented on #28
Hello everybody. I got it to run (had to use Python 3.7 and psychopy-2021.2.3) and when I get data the CSV file is missing the last column in the firsts rows
please see the attachment, I also include the one from the example with the last column Marker0). @JohnGriffiths mentioned on NTX slack that other people where having this problem too. Thanks

 (![image](https://user-images.githubusercontent.

[2022-01-03 16:16] #135 closed, assigned to JohnGriffiths, oreHGA

[2022-01-07 22:53] sbastiaens opened #150 "PsychoPy n170 fails on Windows 10 Pro"
- Windows 10 Pro
- Python Version: 3.7.11
- Brain Interface Used: Crown

When running n170.present (form visual_n170), PsychoPy freezes and python crashes.
The problem was fixed by removing `show_instructions(duration)`. We think that the error comes from the fact that `mywin = visual.Window([1600, 900], monitor="testMonitor", units="deg", fullscr=True)` is repeated twice and therefore PsychoPy cr

[2022-01-22 23:46] gbernal commented on #150
Hi,

I'm seeing similar issues when running the n170 experiment, p300, and so on.  looking adding break points into the code, the code fails when it goes into     `mywin = visual.Window([1600, 900], monitor="testMonitor", units="deg", fullscr=True)`
as mentioned by @sbastiaens I tried commenting out `show_instructions(duration)` but that didn't fix it for me

This is my setup
Windows 10
Python Ver

[2022-01-23 23:13] gbernal commented on #150
I solved this issue by upgrading psychopy to 2021.2.3

[2022-02-06 23:03] rschmaelzle commented on #111
Hi, I can confirm this issue. I was able to track it down - in part - to the muselsl-record function, where there is an if-condition that has a "save every 5s"-comment. Messing with this "catches" more markers (although it doesn't yet cure my problem).  Hope this helps. I will keep digging myself into it a bit more.

[2022-03-08 10:35] iPsych opened #156 "Event Marking between Brainflow and other python processes implementation."
There are several EEG devices (especially headsets) working only with Brainflow.
However, It seems tricky to send event marker outside Brainflow (Their examples call brainflow and psychopy function in same commandline, not let psychopy send marker to independent brainflow thread/process).

I found a work-around using Brainflow->LabStreamingLayer, but it seems not an ideal solution considering temp

[2022-03-14 21:26] porwal97 opened #160 "ImportError: Unable to load OpenGL library"
Computer: MacOS Monterey
Python Version: 3.7.11
Jupyter Notebook Version: 6.3.0
Brain Interface Used: Cyton+Daisy

I am trying to Test if the Python library installed correctly by using the code:

from eegnb import generate_save_fn
from eegnb.devices.eeg import EEG
from eegnb.experiments.visual_n170 import n170

_I get the following ImportError. Any advice on how to fix this?_

**ImportError:** ('

[2022-03-15 17:05] Zaduk commented on #160
Same here, I've been getting the same issue, with the exact same specs as @porwal97. Note: I use an ARM MacBook Air. I've read the main SO article for this error (https://stackoverflow.com/questions/63475461/unable-to-import-opengl-gl-in-python-on-macos) and followed the recommended answer. I've tried changing it to my actual path in my own file system, but nothing.

[2022-03-15 17:44] JohnGriffiths commented on #160
Hi @porwal97 @Zaduk .

Thanks for the feedback and your interest in `eeg-notebooks`.

I will try to look into this problem, but unfortunately don't have access to an ARM Mac system for testing.

All of the OpenGL functionality in `eeg-notebooks` is 'indirect', i.e. it is via `Psychopy`. I don't see the full stack trace from @porwal97 's Import Error, but I would guess it is a `from psychopy import

[2022-03-23 20:19] pjkohler commented on #132
ignore previous comment (that I deleted), I realize now I also have to start the stream in uvicMuse, before running eeg-notebooks.

[2022-03-23 20:24] pjkohler commented on #132
okay, now I am able to start the experiment, but then I get the following error after pressing spacebar. Note that I have connected and started streaming using uvicMuse prior to running the eeg-notebooks code.
<img width="601" alt="Screen Shot 2022-03-23 at 4 21 15 PM" src="https://user-images.githubusercontent.com/6529161/159789089-8f33c219-e1ff-4689-bb2e-ad928a6e5e9e.png">

[2022-03-23 21:06] pjkohler commented on #132
I was able to get around that error by adding
`import nest_asyncio
nest_asyncio.apply()`
above. Now I get this error:
<img width="1072" alt="Screen Shot 2022-03-23 at 5 00 48 PM" src="https://user-images.githubusercontent.com/6529161/159795703-2e2a9da9-1011-4622-ab3a-27697183edbc.png">

[2022-03-23 21:21] pjkohler commented on #132
The muse is connected and streaming, I can data from it using LabRecorder software.

[2022-03-23 21:27] JohnGriffiths commented on #132
Hi Peter.

Have you tried the brainflow option?

Device name for native Bluetooth with brainflow is 'muse2_bfn'.

[2022-03-23 21:28] JohnGriffiths commented on #132
Relevant info re: OS compatibility etc here

https://brainflow.readthedocs.io/en/stable/SupportedBoards.html#muse

[2022-03-23 21:47] pjkohler commented on #132
I haven't. Brainflow would be used to initialize the stream, right?

[2022-03-24 01:09] pjkohler commented on #132
ah, I misunderstood ... maybe I misunderstood the whole approach you take here. There is no need to initialize the stream ahead of time, is there? I can simply pass "muse2_bfn" as the device name, and then your code will take of the rest, right? It appears so. I was able to get some data, and will continue to debug.

[2022-03-24 01:37] pjkohler commented on #132
okay, this is pretty awesome. Thanks @JohnGriffiths, @oreHGA, everyone. I will use this in my class on Tuesday, and a lot more in future courses!

Also, for some reason, not sure why, I do not have to run `import nest_asyncio nest_asyncio.apply()` to get this to work anymore.

[2022-03-24 02:26] JohnGriffiths commented on #132
Great to hear this is working well for you Peter!

You misunderstanding is very understandable: we are using brainflow differently to how muselsl and BlueMuse are have been used in `eeg-notebooks` previously, namely the stream is initiated within `EEG` device object initialization, without the need of the user to initiate any separate third-party streaming processes, through Python or otherwise.

[2022-03-24 02:29] pjkohler commented on #132
holy smokes, John. I have the N170 experiment working, and that may just have to do for now, since we are coming down to the wire. But I plan to teach this course for many years (Neuroscience Techniques - a sampler of different neuroscience methodologies) so will explore more in the future.

[2022-03-24 02:34] JohnGriffiths commented on #156
Here there.

Not exactly sure what you're asking here, but in case it's helpful:

Yes, you could add brainflow compatibility within a GUI-designed psychopy experiment fairly easily.

You would just need to initialize the EEG device at the start, as in e.g. [here](https://github.com/NeuroTechX/eeg-notebooks/blob/2cdadd3314bd8be3252bdfe87de1b474e63d9386/examples/visual_n170/00x__n170_run_experiment.

[2022-03-24 02:36] JohnGriffiths commented on #126
[Done!!](https://neurotechx.github.io/eeg-notebooks/misc/ntcs_phase1_instructions.html#instructional-videos)

https://www.youtube.com/playlist?list=PLwFAVRNJkK_gjRQ4SVXa3HDJKy9T0mq0G

[2022-03-24 03:41] JohnGriffiths commented on #132
Another little snippet that might be useful

This is a quick way to grab data with the device class without having to run a psychopy experiment or to save data to file

[code]

Unfortunately we don't have a livestreaming figure like you get with `muselsl view -v 2` yet, but we will add one at some point (unless the brainflow guys beat us to it)

In the mean time there is a simple signal quality ch

[2022-03-24 16:52] pjkohler commented on #132
okay, so I have eeg-notebooks running on my primary computer, which is running Mac OSX 10.15. One thing I am still confused about is the BLED dongle - so I do not need that at all?

In parallel, I am struggling with getting eeg-notebooks to run on my secondary computer which has Mac OSX 10.13 - I can share my specific hassles, but any general tips?

[2022-03-24 19:50] pjkohler commented on #132
okay, upgrading to Catalina did not help. This is a MacBook Pro from 2013. Fresh conda environment.

Here are the errors that I am getting, when trying to run eegnb runexp -ip:
`CBManager is not powered on` and `libc++abi.dylib: terminating with uncaught exception of type NSException`

...

[2022-03-25 00:32] pjkohler commented on #132
okay
`from eegnb.analysis.utils import check_report
check_report(myeeg)`
is real cool, and should just be run before each block I would think.

[2022-03-25 16:26] ErikBjare commented on #160
I had the same issue in CI: https://github.com/NeuroTechX/eeg-notebooks/runs/5690930290

I updated PsychoPy to the latest version in https://github.com/NeuroTechX/eeg-notebooks/pull/167, which solved the issue.

Note however that:

 1. In its place there's a new issue, but there's a known workaround: https://github.com/bambocher/pocketsphinx-python/issues/28
 2. You now also need Python >=3.8

[2022-03-25 20:57] ErikBjare commented on #150
@gbernal Thanks for that, I updated to latest Psychopy in #167 so at least that shouldn't be an issue anymore.

[2022-03-28 15:44] pjkohler commented on #160
Commenting here to say that I also have issues with OpenGL on a recent (M1) MacBook Air, I assume it is for similar reasons. So if instructions materialize on how to get it working on this type of machine, I would love to see them.

[2022-03-30 05:15] quiksilver10152 opened #172 "AttributeError: MUSE_2016_BOARD"
## ℹ Computer information

- Windows 64 bit
- Python Version: Anaconda 1.9.12
- Brain Interface Used: OpenBCI

## 📝 Provide detailed reproduction steps (if any)

1. USB dongle works fine with OpenBCI GUI, no issues.
2. Installed Miniconda, Jupyter Notebook, and EEGNotebook according to documents.
3. Ran the following test code and keep getting errors related to "AttributeError: MUSE_2016_BOARD"
4.

[2022-03-30 07:56] quiksilver10152 commented on #172
Discovered it was an incomplete installation of the eegnb libraries.

[2022-03-30 07:56] #172 closed, assigned to nobody

[2022-03-30 12:12] ErikBjare opened #173 "Finding new sources of funding from the DeSci community"
As some of you may know, I've been pretty deep into crypto for the last decade. While some of it is silly dogcoins and NFTs being washtraded into very high and shaky "valuations", there's some really interesting things happening in less money-driven sections of the space.

One such area is DeSci, or the idea that decentralized/global groups can fund, work on, and sometimes even own the resulting I

[2022-03-30 12:12] #173 closed, assigned to nobody

[2022-03-31 05:21] leotozzi88 opened #175 "EEG stream passed QC but unsure about validity of recorded signal"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc): Mac Os 10.15.7
- Python Version: Python 3.7.4
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Muse S

## 📝 Provide detailed reproduction steps (if any)

Dear Experts,

I am one of the participants to your NTCS Phase 1 experiment, I hope this is the right place to post my issue.

First of all, thank you for providing th

[2022-04-05 02:21] Zaduk commented on #160
Update: I installed Xcode and it solved the issue for me. I've won, but at what cost...

[2022-04-07 14:39] oreHGA opened #177 "Understanding how people use eeg notebooks in the wild"
## 📝 Provide a description of the new feature

_What is the expected behavior of the proposed feature?  What is the scenario this would be used?_

In a simple way, we want to know when people use eeg-notebooks and how the experience went. The goal is to be able to answer the following:

- how many times eeg-notebooks was used (+ unique devices)
- what experiments were run
- what percentage of the

[2022-04-09 14:58] JohnGriffiths commented on #175
Hi Leo.

Thanks for the feedback.

The title of the issue says no signal recorded but if I understand correctly you have .csv files for every session, and you question is how to analyze them?

The code to do that can be found here

https://neurotechx.github.io/eeg-notebooks/auto_examples/visual_n170/01r__n170_viz.html

You may need to tweak the `reject={'eeg': 5e-5}` number. As a rule of thumb, yo

[2022-04-09 15:00] JohnGriffiths commented on #175
Hi Leo.

Thanks for the feedback.

The title of the issue says no signal recorded but if I understand correctly you have .csv files for every session, and you question is how to analyze them?

The code to do that can be found here

https://neurotechx.github.io/eeg-notebooks/auto_examples/visual_n170/01r__n170_viz.html

You may need to tweak the `reject={'eeg': 5e-5}` number. As a rule of thumb, yo

[2022-04-09 16:06] shishankjain opened #178 "InvalidArgumentsError: Unexpected argument of type <class 'type'>"
## ℹ Computer information

- Platform OS : Linux (Ubuntu 20.04)
- Python Version:3.7.13
- Brain Interface Used : OpenBCI

## 📝 Provide detailed reproduction steps (if any)

1. …Just installed the eeg notebooks following the first steps mentioned in the installation guide.
2. After executing the test code in the installation guide in the jupyter notebook. Error Present in the screenshot came up. It

[2022-04-09 16:13] JohnGriffiths commented on #178
Hi Shishankjan.

Thanks for sharing this.

It's hard to tell from your screenshots what exactly you did ( eg what did you type on the cli) that raised this error. Can you please clarify that ?

[2022-04-09 16:15] shishankjain commented on #178
For checking signal: eegnb checksiqual -ed cyton @JohnGriffiths

[2022-04-09 16:16] shishankjain commented on #178
After running the test code on the jupyter notebook,
I am getting the  same issue.

I am facing issue on this line: from eegnb.devices.eeg import EEG

It is not able to import EEG or something.

[2022-04-09 16:32] JohnGriffiths commented on #178
Ok. Looks like everything is correct on the eeg-notebooks side  but there is an issue with your brainflow installation.

Can you try:

`pip uninstall brainflow`

`pip install -U brainflow`

`ipython`

[code]

Does this throw the same error ?

[2022-04-09 16:39] shishankjain commented on #178
Yes it is also throwing the same error.
![image](https://user-images.githubusercontent.com/50173927/162583173-9644df62-e1bb-4f87-99e3-c00f3efabb2f.png)
@JohnGriffiths

[2022-04-10 18:25] leotozzi88 commented on #175
Dear John,

Thank you for your thorough reply and I will make sure to check all those scripts!

I think I mislabelled my question and I apologize for that: I do have data. The thing that was puzzling me is that the data looks heavily contaminated by some high frequency noise, so I thought that the electrodes were not recording correctly. But I think maybe it's just because I am not used to EEG dat

[2022-04-11 10:25] ErikBjare commented on #178
@shishankjain It it hard to figure out the cause of this without the full logs. Please paste them in full instead of screenshots.

[2022-04-21 15:36] ErikBjare commented on #177
Me and @JohnGriffiths talked super briefly about this today and I just mentioned that I've long had similar aims for a different project of mine, with similar requirements: https://github.com/ActivityWatch/activitywatch/issues/120

Would be cool if we could figure this out so I could get two birds with one stone (or [whatever](https://twitter.com/ErikBjare/status/1517165753832779776)).

[2022-04-25 04:49] #126 closed, assigned to JohnGriffiths, JadinTredup

[2022-04-25 15:49] ErikBjare commented on #150
Hey @oreHGA I had to revert that PR, so we're still on an old version of psychopy.

[2022-06-16 12:21] danielemarinazzo opened #185 "Error after fresh installation"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc):  Windows
- Python Version: 3.7
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Muse2

## 📝 Provide detailed reproduction steps (if any)

1. Did fresh installation, new environment, clone, `pip install -e .`
2. Started quality check

### ✔️ Expected result

Channel quality check as per @JohnGriffiths NTCS videos

### ❌

[2022-06-16 14:30] JohnGriffiths commented on #23
Ciao @danielemarinazzo. Is this still an issue for you?

[2022-06-16 14:39] JohnGriffiths commented on #66
@danielemarinazzo  - checking in on this one also. Are you still encountering this error?

[2022-06-16 14:40] Parvfect opened #186 "Run the Draft Pull Request #184 to make sure all the functionality is the same with the new structure."
Draft PR #184 details experiement Class Structure and incorporates the Visual N170, P300 and SSVEP. Need to run it to make sure all the functionality is the same.

[2022-06-16 14:43] ErikBjare opened #187 "Builds fail on Linux (missing liblsl)"
Getting issues with missing liblsl: https://github.com/NeuroTechX/eeg-notebooks/runs/6920267569

Likely due to: https://github.com/labstreaminglayer/liblsl-Python/blob/4ac07fd67d64691bfbee32270c624f4dc8f391fe/README.md#linux-binaries-deprecated

Was gonna pin the dependency, but weirdly, we should be getting 1.10.5?: https://github.com/alexandrebarachant/muse-lsl/blob/master/setup.py#L51

[2022-06-16 14:43] Parvfect opened #188 "Package Experimental parameters passing (n_trials, jitter, etc.) to Experiment super class to make it more generic."
Lot of specific Experiemental Parameters are passed to the Experiment Super Class as per Draft PR #184, need to somehow package to increase generalisation of the super class.

[2022-06-16 14:45] #68 closed, assigned to JohnGriffiths

[2022-06-16 14:45] Parvfect opened #189 "Incorporate the muse edge case into eeg.push_sample for the present_stimulus functions of the base class."
Need to incorporate the edge case that serves more as a hack into the general eeg push sample to reduce redundancy.

[2022-06-16 14:51] ErikBjare commented on #185
Fixed in https://github.com/NeuroTechX/eeg-notebooks/commit/75e42ef09181a976eac4531a75e9282590a6345e, just cherrypicked onto master.

[2022-06-16 14:51] JohnGriffiths commented on #185
( FYI this appeared to be due to a small brainflow API change . @danielemarinazzo please try out a re-install with @ErikBjare 's fix. )

[2022-06-16 14:55] danielemarinazzo commented on #66
Last time I checked was in April, with a fresh installation of the toolbox at that time, on a different PC (still windows, still python 3.7). Now I cannot check since my new installation does not work

[2022-06-16 14:57] danielemarinazzo commented on #185
thanks, can I just redo `pip install -e . `or shall I undo something?

[2022-06-16 15:03] ErikBjare commented on #185
@danielemarinazzo A `git checkout master; git pull` should do.

[2022-06-16 15:32] JohnGriffiths commented on #185
checked and I also had the error before the fix; and `pip install` now working ok again on my side.

[2022-06-16 15:32] JohnGriffiths commented on #185
good catch @ErikBjare and @danielemarinazzo , thanks for flagging.

[2022-06-16 16:13] ErikBjare commented on #185
Fixed in https://github.com/NeuroTechX/eeg-notebooks/commit/f208e086a7302ffec069ed1475faabbf6b95f9d9

There may be follow-up errors on Ubuntu, but they should have separate issues (like #187).

[2022-06-16 16:13] #185 closed, assigned to ErikBjare

[2022-06-16 16:17] ErikBjare commented on #23
This all seems like code in `jupyter_core`? Weird that it gets called/imported?

Anyway, pretty sure it's caused by pywin32 being missing. You can probably install it with `pip install pywin32`.

Maybe we should add it to deps? (I depend on it in other projects and it's been hassle-free)

[2022-06-16 16:18] danielemarinazzo commented on #185
works now, thanks!

[2022-06-16 16:27] danielemarinazzo commented on #23
maybe, it was on another PC that I don't have at the moment. Gonna try in July but makes sense

[2022-06-16 16:30] danielemarinazzo commented on #66
So the installation works now, and the sound does not fade. I cannot check if it's PTB or else since when I run the `psychopy` command it does not start. Any ideas? In any case it works and psychopy does not complain about using the wrong sound options.

[2022-06-27 10:10] danielemarinazzo opened #191 "Error upon end of session"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc): Windows 10
- Python Version: 3.7
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Muse 2

## 📝 Provide detailed reproduction steps (if any)

1. Setup OK
2. Run quality check OK
3. Run N170 experiment

### ✔️ Expected result

ends and save data

### ❌ Actual result

The first time it ended after one second, and actually

[2022-06-27 22:26] Parvfect commented on #186
Done for Visual N170 and Visual P300 without the EEG

[2022-06-27 22:26] #186 closed, assigned to Parvfect

[2022-06-30 12:37] rkakrik commented on #150
Same problem in Arch Linux

[2022-07-07 20:05] Astroneural opened #192 "No Label Column When Running n170 experiment."
When I run the n170 experiment, everything works fine except when I look into the csv file after the experiment is over, I don't see any 'label' or 'stim' or 'marker' column, so I can't run any classifications on it.
To connect to my Muse 2 EEG I run muselsl stream in the terminal (in the same folder that eeg-notebooks is in) and then run the n170 experiment through Jupyter Notebook. I can see all

[2022-07-08 03:09] JohnGriffiths commented on #192
Hi Astro.

Thanks for getting in touch.

What OS are you on? Mac/Linux?

You shouldn't need to start a muselsl stream manually this way.

If you are running on linux/mac, [the `eeg` class will initiate a stream using muselsl functions for you](https://github.com/NeuroTechX/eeg-notebooks/blob/f208e086a7302ffec069ed1475faabbf6b95f9d9/eegnb/devices/eeg.py#L112) when you start an experiment.

If you a

[2022-07-08 15:02] Astroneural commented on #192
Hi, thanks for the reply. I installed BlueMuse and initiated the stream through that, however in the file outputted by the Jupyter Notebook I'm still not getting a label column. Also, I am not sure if BlueMuse outputs its own csv file, but I can't find one.

[2022-07-10 14:45] JohnGriffiths commented on #192
Bluemuse doesn't output its own EEG file, it just creates the data stream.

Ok let's take a step back. Close bluemuse, don't open it for now, we will try the brainflow option first. Can you please run on the command line

`eegnb runexp -ip`

And select n170 expt from the menu, with `muse2_bfn` device option.

Run duration cam be short e.g. 30s.

This should produce a file in the `~/.eegnb/.../.../

[2022-07-10 15:22] Astroneural commented on #192
![image](https://user-images.githubusercontent.com/105980825/178151110-c7d457e1-31c9-4faf-b780-20a6b0e61c2d.png)
Here's what the file looks like, 7 columns, but the last one has no title. Also, the zeroes go all the way down and do not change. In some of my earlier trials I noticed the same thing, although this extra column doesn't always appear (only sometimes).

[2022-07-10 18:21] JohnGriffiths commented on #192
Ok. The above appearance is a known bug that occurs with muselsl steaming, and is one of the reasons why we have switched to brai flow as the preferred option. There is a hacky fix for it - see

https://github.com/NeuroTechX/eeg-notebooks/blob/f208e086a7302ffec069ed1475faabbf6b95f9d9/eegnb/analysis/utils.py#L526

But you shouldn't be getting that problem when using the brainflow streaming option.

[2022-07-11 16:14] Astroneural commented on #192
My apologies! I selected the wrong Muse 2 option before, although with the Brainflow option (without dongle) I am now getting a stim column, however it is still zeroes all the way down.
![image](https://user-images.githubusercontent.com/105980825/178309929-eb92750e-f00a-48a2-8ee1-cd769c20d167.png)

[2022-07-11 21:01] JohnGriffiths commented on #192
Ok, this is good.

You should find that it is not entirely zeros, there are a relatively small number of 1s and 2s.

(These mark the onset time of the visual stimulus for each of the two conditions, and are used in the 'epoching' analysis step to cut up the data into the +/- 500ms around the stimulus presentation times for averaging.)

Is that what you see?

[2022-07-11 23:28] Astroneural commented on #192
Ah yes! Thank you for pointing them out, I scrolled through too fast before to see them. Thank you so much!

[2022-07-14 20:05] #192 closed, assigned to nobody

[2022-07-21 12:31] Parvfect opened #193 "Adapt Visual SSVEP into Experimental class structure and test it"

[2022-07-21 12:33] Parvfect opened #194 "Create blueprint for Command line interface for Analysis Pipeline"
Adapting the current notebooks present in the documentation to a CLI and eventually to an automated report for the N170, P300 and Visual SSVEP Experiments

[2022-07-21 12:36] Parvfect opened #195 "Adapt Auditory Oddball Experiment in the new Experimental Structure"
Adapt the Auditory Oddball Experiment implemented in eegnb/experiments/AuditoryOddball to the Experimental Class structure and test it

[2022-07-21 12:36] Parvfect opened #196 "Test Experimental Class Structure using EEG"
New Experimental class Structure created through #183 has not been tested using an EEG stream. Needs to be rigirously tested using an EEG to make sure that nothing breaks and all other functions work in the same way.

[2022-07-21 15:54] JohnGriffiths commented on #191
Hi Daniele.

Thanks for this info.

We have not seen this error before.

Are you getting it reliably or is it a one-off?

This is a brainflow error, so Andrey and the brainflow team will be able to give you some more insight into what the cause is, if you can re-post this issue to https://github.com/brainflow-dev/brainflow . Please link to this issue also when you do so we can monitor the discussi

[2022-07-26 22:34] Parvfect opened #199 "Problems in data streaming using Brainflow using muse2"
### Discussed in https://github.com/NeuroTechX/eeg-notebooks/discussions/198

<div type='discussions-op-text'>

<sup>Originally posted by **Parvfect** July 26, 2022</sup>
I am trying to run the N170 experiment, and it seemed to be working perfectly before and I have some good data from then. I am not sure what I changed, but the instruction screen seems to come up twice, the second time after runn

[2022-07-26 22:55] JohnGriffiths commented on #199
Can you repeat and show screen outputs for device = `muse2_bfn` ?

[2022-07-27 09:44] Parvfect commented on #199
I get a key-error when I run with muse2_bfn as the device. Am I doing something wrong?

[2022-07-27 11:25] JohnGriffiths commented on #199
Yes something not right if you're using the above script and getting a key error.

We need to get back to step 1.

Please try:

- fresh clone of eeg-notebooks (rename as '_temp' or '_v2' or whatev)
- go in to folder, create new environment, activate environment, `pip install -e .`
- Turn on muse
- On command line `eegnb checksigqual -ed muse2_bfn`
- If not working: repeat a few times; make sure bl

[2022-07-28 10:01] Parvfect commented on #199
So it works with muse2 (the signal quality check), but if I do muse2_bfn, I get this
<img width="787" alt="image" src="https://user-images.githubusercontent.com/65726543/181478996-ea80c4de-0a6b-4315-9ce2-cb020f7ffdda.png">

[2022-07-28 11:28] JohnGriffiths commented on #199
Do you mean it works with muse2 when bluemuse is running?

Try one more time: close conda terminal, close bluemuse, open new conda terminal, run _bfn signal check.

(Brainflow can get confused if there's been other recent communication with the device by currently running programs)

[2022-07-28 11:39] Parvfect commented on #199
Yeah so it works with bluemuse and muse2. On closing bluemuse and independently running brainflow via the _bfn run check, I get this error as before
![image](https://user-images.githubusercontent.com/65726543/181496414-25c5f0e5-ec3d-450c-8551-5605ad7f8250.png)

[2022-07-28 13:24] JohnGriffiths commented on #199
Next steps on this:

- try again a few times; reset computer, turn off bluetooth, reset muse, etc.
- do you have another computer you could try this on by any chance?
- if problem still persists then post issue in `brainflow-dev/brainflow` github repo with the screenshot you took using the brainflow calls directly. Key information here would be if the `enable_dev_board_logger` has added any usable

[2022-07-28 15:44] oreHGA opened #200 "Installing eeg notebooks on Mac M1"
Hey folks, wanted to use this thread to keep track of the changes to support installation of eeg-notebooks on Mac M1.

(I initially tried using poetry for this based on #190 but it added another layer of complexity w the errors so I decided to get it working with manual pip first)

I was able to tweak the requirements.txt enough to get installation to complete, but I get this error when trying to

[2022-07-28 15:55] SjoerdTimovanVliet opened #201 "Idea to implement for EEG decoding the option to convert it to DFT?"
## 📝 Provide a description of the new feature

_What is the expected behavior of the proposed feature?  What is the scenario this would be used?_

---
Modify the code such that it is converted to DFT using FFT as possible preprocessing step, before decoding the brainsignals.

If you'd like to see this feature implemented, add a 👍 reaction to this post.

[2022-07-28 19:25] JohnGriffiths commented on #200
Is `psychtoolbox` installed? Looks like it isn't finding it ?

More generally, if this failure is going to occur it should happen when you are trying to run the auditory experiment, not at the experiment selection stage.

[2022-07-29 13:30] danielemarinazzo commented on #191
So it happens every now and then, in my case it was the first time so I thought it was a structural problem. One out of 10 times approx it gives an error, either when selecting the interface (less annoying) or in the middle of the acquisition (more annoying).

I'll close this here and link to the brainflow repo.

thanks!

[2022-07-29 13:53] danielemarinazzo commented on #191
https://github.com/brainflow-dev/brainflow/issues/529#issuecomment-1199307290

[2022-08-03 15:13] Parvfect commented on #199
https://github.com/brainflow-dev/brainflow/issues/531

Issue opened in Brainflow

Unable to prepare the streaming session after finding Muse2 using direct calls to Brainflow.

Code:

[code]

Screenshot of Error
![image](https://user-images.githubusercontent.com/65726543/182644268-65004960-2677-4a34-bfdc-da994ebb5cf1.png)

[2022-08-03 15:17] Parvfect commented on #199
Original problem with respect to data streaming has been solved by using BlueMuse backend. The problem was that my file had an open call to streaming which was fixed by adding the following,

[code]

However, setting up a streaming session using Brainflow is still unresolved and listed above.

[2022-08-15 16:31] Shahin-rmz opened #203 "Hello, I have a basic question about another project"
Hello, I am interested about [Neurodoro](https://awesomeopensource.com/project/NeuroTechX/neurodoro) project. As seen, it is not maintained any more. want to know why it is not maintained and if there are any reasons behind stopping maintaining it.
Thanks

[2022-09-12 13:53] Liam-Noah opened #204 "N170 experiment doesn't work"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc):  Windows
- Python Version: 3.7
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): muse2

## 📝 Provide detailed reproduction steps (if any)

run N170 experiment https://neurotechx.github.io/eeg-notebooks/auto_examples/visual_n170/00x__n170_run_experiment.html#sphx-glr-auto-examples-visual-n170-00x-n170-run-experiment-py

a

[2022-09-12 16:22] Liam-Noah opened #205 "N170 Load and Visualize Data"
## 📝 Provide a description of requested docs changes

https://neurotechx.github.io/eeg-notebooks/auto_examples/visual_n170/01r__n170_viz.html
Hello,
Could you explain how eegnb_data_path and n170_data_path variable are and how to use them ?
I set  n170_data_path to be
n170_data_path = "C:/Users/.../.eegnb/data/visual_n170/local/muse2/subject0000/session000/recording_2022-09-12-15.40.21.csv"
but ap

[2022-09-14 17:47] JohnGriffiths commented on #205
Hi Vladimir. Can you screenshot the first 30 lines or so of the csv file ? Is it missing the final column in the first few rows?

[2022-09-15 08:42] Liam-Noah commented on #205
Yes, that's exactly what's happening here

![Screenshot 2022-09-15 104104](https://user-images.githubusercontent.com/67709116/190357892-3dd16fd4-2346-4fec-979d-cc992274b111.png)

[2022-09-15 11:17] JohnGriffiths commented on #205
Ok. This is a known bug that occurs sometimes with muselsl streaming that has to do with asynchronous recording process initialization, and that we haven't managed to get a robust fix to yet unfortunately.

Sorry this has been a problem.

The data you have should be usable, the file just needs repairing. There is a function in the library for this:

https://github.com/NeuroTechX/eeg-notebooks/blob

[2022-09-15 11:44] Liam-Noah commented on #205
Hi again,
I'm on windows 10. I'll give brainflow a try since there are less bugs. Thanks for the tips !

Do you real time analysis with jupyter notebook aswell? Like a neurofeedback window with live parameters, to see how well you do on getting focused or calm .

[2022-09-22 11:22] SjoerdTimovanVliet opened #206 "Research showing the influence of the used SSVEP pattern image"
Dear Sir/madam

Most SSVEP research use on/off switching. However, several of my professors stated that the influence of showing the pattern image with an on/off stimuli frequency must be stated in research the use of your platform. However, most research only use On/OFF stimulation by showing a white and then a black rectangle. Could you provide me with any source information regarding this patte

[2022-11-14 11:53] WeiShaoD commented on #96
Hello, everyone, I'm wondering if there is any update for this issue? since I also met the same problem. my MacBook is Pro M1 with system 13.0.

Thanks

[2022-11-14 15:17] WeiShaoD opened #212 "Error with installing dukpy"
Hello, everyone, I met a problem when I tried to install with pip3 install dukpy package (I need this module to install psychopy )

- MacOS Ventura 13.0 M1,
- Python Python Version: Python 3.9.12

If there any way to fix this? Thanks

[code]

[2022-11-18 14:19] Hororohoruru opened #213 "Can't run experiments from CLI interface"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc):  Mac
- Python Version: 3.8
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Muse (2016)

## 📝 Provide detailed reproduction steps (if any)

1. Initialize Muse stream using command ```muselsl stream```
2. Open a separate terminal and launch the CLI with ```eegnb runexp -ip```
3. Introduce the following input:
- Device: M

[2022-11-24 14:08] ErikBjare commented on #96
@WeiShaoD Did you install Xcode developer tools as suggested?

[2022-11-24 14:09] ErikBjare commented on #212
Potential duplicate of: https://github.com/NeuroTechX/eeg-notebooks/issues/96

[2022-11-30 13:00] Silkedesmet opened #214 "pyglet version incompatibility mac"
## ℹ Computer information

- Platform OS (e.g Windows, Mac, Linux etc):  Mac
- Python Version: 3.7
- Brain Interface Used (e.g Muse, OpenBCI, Notion etc): Muse2

## 📝 Provide detailed reproduction steps (if any)

1. created environment on miniconda with python 3.7
2. cloned repo
3. installed
4. run `eegnb runexp -ip`

### ✔️ Expected result

_What is the expected result of the above steps?_

cli o